@import "reset.css";
#forum-wrapper {
    background: #fff;
    margin: 0 auto;
    text-align: left;
    width: 960px;
}
#forum-wrapper input.submit {
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background: #222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 0;
    padding: 5px 10px 4px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
#forum-wrapper a.fm-button,
#forum-wrapper a.fm-botton:visited {
    -moz-border-radius: 6px;
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 6px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.6);
    background: #222;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    color: #fff;
    cursor: pointer;
    display: inline-block;
    float: right;
    margin: 0;
    padding: 5px 10px 4px;
    position: relative;
    text-decoration: none;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
#forum-wrapper .fm-header-wrapper span,
#forum-wrapper .fm-header-wrapper h3,
#forum-wrapper .fm-header-wrapper p {
    margin: 0;
    padding: 0;
}
#fm-header h1 {
    font-size: 2em;
    margin: 30px 0 25px;
}
#fm-header #fm-messages {
    float: right;
    text-align: right;
    width: 400px;
}
#fm-header #fm-messages .fm-message-inset { padding-right: 15px }
#fm-main-navigation ul,
#fm-main-navigation li {
    display: inline;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#fm-main-navigation li {
    font-size: 14px;
    line-height: 1.1em;
    margin: .5em .5em 0 0;
    padding: 0;
}
#fm-main-navigation a {
    color: #999;
    float: left;
    font-weight: 700;
    line-height: 14px;
    margin-right: 5px;
    padding: 1em;
    text-decoration: none;
}
#fm-crumbs {
    background: #ebebeb;
    border-top: 5px solid #939498;
    clear: both;
    font-size: 11px;
    height: 1%;
    margin-bottom: 15px;
    position: relative;
    text-shadow: 0 1px 0 #fff;
}
#fm-crumbs p,
#fm-crumbs p a {
    line-height: 16px;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
#fm-crumbs p { padding: 10px }
#fm-crumbs .fm-quick-search {
    padding: 5px 15px 0 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
    width: 300px;
}
#fm-crumbs .fm-quick-search input.input {
    padding: 4px;
    width: 200px;
}
#forum-wrapper input.input.counter {width: 40px;}
#forum-wrapper input.input.fm-poll-answer {width: 40%;}
#forum-wrapper table.forum-topic,
#forum-wrapper table.topic-table,
#forum-wrapper table.fm-forum-topic,
#forum-wrapper table.fm-avatar-grid,
#forum-wrapper table.fm-data-grid {
    margin-bottom: 15px;
    width: 100%;
}
#forum-wrapper table.fm-forum-topic { margin-bottom: 30px }
#forum-wrapper table.fm-has-th-row th {
    background: #fff;
    border-bottom: 1px solid #F0F0F0!important;
    border-right: 1px solid #F0F0F0;
    font-size: 12px;
    padding: 10px 15px;
    width: 155px;
}
#forum-wrapper table.fm-has-th-row.fm-member-registration th { width: 250px }
#forum-wrapper td.fm-content-wrapper {
    padding: 5px 15px;
    vertical-align: middle;
}
#forum-wrapper table.fm-forum-topic td {
    background: #fff;
    padding: 10px 5px;
}
#forum-wrapper th.fm-total-topics,
#forum-wrapper th.fm-replies,
#forum-wrapper td.fm-total-topics,
#forum-wrapper td.fm-replies {
    text-align: center;
    width: 50px;
}
#forum-wrapper td.fm-info { padding-right: 10px!important }
#forum-wrapper .fm-home-tools-wrapper {
    margin-top: -15px;
    overflow: hidden;
    padding-top: 10px;
}
#forum-wrapper ul#fm-home-tools { list-style-type: none }
#forum-wrapper ul#fm-home-tools li {
    float: left;
    margin: 5px 5px 15px 0;
}
#forum-wrapper ul#fm-home-tools li a {
    background: #f0f0f0;
    color: #000;
    display: block;
    padding: 5px 10px;
    text-decoration: none;
}
#forum-wrapper .fm-header-wrapper,
#forum-wrapper .fm-thread-footer-wrapper { padding: 0 15px 15px }
#forum-wrapper .fm-header-wrapper h3,
#forum-wrapper .fm-thread-footer-wrapper h3 {
    color: #222;
    font-weight: 700;
    padding: 15px 0 0;
    width: 700px;
}
#forum-wrapper .fm-header-wrapper .fm-button,
#forum-wrapper .fm-thread-footer-wrapper .fm-button {
    margin-left: 15px;
    margin-top: 10px;
}
#forum-wrapper .fm-thread-footer-wrapper p {
    float: left;
    padding-right: 10px;
    padding-top: 15px;
}
#forum-wrapper .fm-register-prompt {
    border-top: none;
    padding-top: 10px;
}
#forum-wrapper .fm-header-wrapper span.fm-required { float: none }
#forum-wrapper .fm-header-wrapper.fm-extra-info { padding: 5px 15px 20px }
#forum-wrapper .fm-thread-footer-wrapper .paginateCur,
#forum-wrapper .fm-thread-footer-wrapper .paginate {
    float: left;
    margin-right: 5px;
    margin-top: 10px;
}
#forum-wrapper .fm-thread-footer-wrapper .paginateCur {
    background: #fff;
    padding: 5px;
}
#forum-wrapper .fm-thread-footer-wrapper .paginate a {
    background: #ABABAB;
    color: #fff;
    display: block;
    padding: 5px;
    text-decoration: none;
}
#forum-wrapper .fm-thread-footer-wrapper .paginate a:hover { background: #222 }
#forum-wrapper .forum-topic-content {
    background: url("../gfx/forum-topic-content_bg.png") repeat-y 0 0;
    border-right: 1px solid #e0dfdf;
    clear: left;
    display: block;
    height: 1%;
    overflow: hidden;
    position: relative;
}
#forum-wrapper .forum-topic-content .fm-author-info-wrapper {
    float: left;
    width: 180px;
}
#forum-wrapper .forum-topic-content .fm-author-info-wrapper .fm-author-ban a,
#forum-wrapper .forum-topic-content .fm-author-info-wrapper .fm-author-report a {
    color: #ABABAB;
    font-size: 11px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
#forum-wrapper .forum-topic-content .fm-post {
    float: left;
    width: 764px;
}
#forum-wrapper .forum-topic-content .fm-post .codeblock {
    border: 1px solid #e0dfdf;
    font-size: 90%;
    margin-bottom: 15px;
    padding: 0 15px;
    width: 70%;
}
#forum-wrapper .forum-topic-content .fm-post blockquote {
    background: #f0f0f0;
    font-size: 90%;
    margin: 10px 15px;
    padding: 10px 10px 5px;
    width: 70%;
}
#forum-wrapper .forum-topic-content .fm-post blockquote blockquote { font-size: 100% }
#forum-wrapper .forum-topic-content .fm-post blockquote p { margin-bottom: 5px }
#forum-wrapper .forum-topic-content .fm-post .quote_author { font-weight: 700 }
#forum-wrapper .forum-topic-content .fm-post .inset { padding: 15px 0 35px 15px }
#forum-wrapper .forum-topic-content .fm-post-utilities a.fm-button {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #888;
    font-size: 80%;
    margin-left: 5px;
}
#forum-wrapper .forum-topic-content .fm-post-utilities {
    background: #e4e4e4;
    border: 1px solid #e0dfdf;
    border-top: 1px solid #E0DFDF;
    bottom: 0;
    overflow: hidden;
    padding: 5px 5px 5px 0;
    position: absolute;
    right: 0;
}
#forum-wrapper .forum-topic-content .fm-post .fm-post-attachments { padding: 15px 0 0 }
#forum-wrapper .forum-topic-content .fm-post .fm-image-attachments a { margin: 0 10px 10px 0 }
#forum-wrapper .forum-topic-content .fm-post .fm-image-attachments p {
    font-size: 11px;
    margin: 0;
    padding: 5px 0;
}
#forum-wrapper .forum-topic-content .fm-post .fm-file-attachments ul li { padding: 0 0 5px }
#forum-wrapper .fm-attachments,
#forum-wrapper .fm-signature-wrapper {
    margin-bottom: 15px;
    padding: 15px;
}
#forum-wrapper .fm-signature-wrapper { padding-bottom: 0 }
#forum-wrapper .fm-signature a {
    font-weight: 400;
    text-decoration: none;
}
#forum-wrapper .fm-signature-image { margin: 5px 0 10px }
#forum-wrapper .fm-quick-search-form table.fm-has-th-row th { width: 100px }
#forum-wrapper .fm-quick-search-form td .input { width: 200px }
#forum-wrapper .fm-forum-topic .fm-topic-icon {
    padding-left: 15px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: center;
    width: 10px;
}
#forum-wrapper .fm-forum-topic .fm-heading { width: 450px }
#forum-wrapper .fm-forum-topic .fm-heading h4 a {
    font-size: 14px;
    text-decoration: none;
}
#forum-wrapper .fm-forum-topic .fm-heading p a {
    color: #666;
    text-decoration: none;
}
#forum-wrapper .fm-forum-topic th.fm-total-topics,
#forum-wrapper .fm-forum-topic th.fm-replies,
#forum-wrapper .fm-forum-topic th.fm-views {
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}
#forum-wrapper .fm-forum-topic .fm-total-topics {
    text-align: center;
    vertical-align: middle;
    width: 60px;
}
.fm-forum-topic .fm-replies,
.fm-forum-topic .fm-views {
    text-align: center;
    width: 90px;
}
#forum-wrapper .fm-member-name { width: 30% }
#forum-wrapper .fm-post-meta .fm-poster-ip,
#forum-wrapper .fm-post-meta .fm-thread-permalink {
    float: right;
    font-style: normal;
}
#forum-wrapper .fm-post-meta .fm-thread-permalink { margin-left: 15px }
#forum-wrapper .fm-post-author-rank {
    clear: left;
    display: block;
    font-size: 9px;
    letter-spacing: 1px;
    margin-bottom: 5px;
    text-transform: uppercase;
}
#forum-wrapper p.fm-thread-unsubscribe {
    font-size: 11px;
    font-weight: 400;
    margin-top: 2px;
}
#forum-wrapper .fm-new-topic-wrapper { padding: 15px 30px }
#forum-wrapper .fm-field-notes {
    clear: left;
    display: block;
    font-size: 11px;
    padding: 4px;
}
.fm-poll-wrapper {
    background: #525252;
    border-top: 1px solid #fff;
    color: #fff;
    margin: 0;
    padding-bottom: 20px;
}
#forum-wrapper .fm-poll-wrapper table {
    margin-bottom: 0;
    margin-right: 15px;
}
#forum-wrapper .fm-poll-wrapper table td,
#forum-wrapper .fm-poll-wrapper table th {
    background: #525252;
    border-bottom: none;
    font-weight: 400;
    text-shadow: 0 1px 0 #343434;
}
#forum-wrapper .fm-poll-wrapper table td { padding: 5px }
#forum-wrapper .fm-poll-wrapper table th {
    font-size: 18px;
    padding: 5px 15px;
}
#forum-wrapper .fm-poll-wrapper table td.fm-poll-choice {
    background: #343434;
    padding-right: 10px;
    text-align: right;
    width: 250px;
}
#forum-wrapper .fm-data-grid td.fm-poll-choice,
#forum-wrapper .fm-data-grid td.fm-poll-graph-wrapper,
#forum-wrapper .fm-poll-ask td.fm-content-wrapper { border-bottom: none }
#forum-wrapper .fm-poll-graph {
    background: #fff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 15px;
    border-top-left-radius: 3px;
    border-top-right-radius: 15px;
    color: #666;
    float: left;
    font-size: 14px;
    font-weight: 700;
    padding: 0 3px 0 7px;
    text-shadow: 0 1px 0 #fff;
}
#forum-wrapper .fm-welcome-msg,
#forum-wrapper .fm-welcome-msg-logged-in {
    margin: 0 0 15px;
    padding: 5px 15px 8px;
    text-align: center;
}
#forum-wrapper table.fm-has-th-row.fm-quick-login {
    background: #fff;
    border: 8px solid #fff;
    font-size: 11px;
    margin: 10px 0 0;
}
#forum-wrapper table.fm-has-th-row.fm-quick-login th {
    border-bottom: none;
    text-align: right;
    vertical-align: middle;
    width: 80px;
}
#forum-wrapper table.fm-has-th-row.fm-quick-login th,
#forum-wrapper table.fm-has-th-row.fm-quick-login td {
    border-bottom: none!important;
    padding: 5px 10px!important;
}
#forum-wrapper table.fm-has-th-row.fm-quick-login td .input {
    font-size: 11px;
    padding: 5px!important;
}
#forum-wrapper .fm-welcome-msg-logged-in { text-align: left }
#forum-wrapper table.fm-avatar-grid td {
    padding: 10px;
    text-align: center;
}
#forum-wrapper p.fm-submit {
    margin: 0 0 30px;
    padding: 15px;
}
#forum-wrapper .fm-bulletin {
    border: 1px solid #ebebeb;
    margin-bottom: 15px;
    overflow: hidden;
    padding: 15px;
}
#forum-wrapper .fm-bulletin textarea {
    margin-bottom: 15px;
    padding: 5px;
}
#forum-wrapper table.fm-has-th-row textarea { max-width: 98% }
.fm-profile-menu {
    float: left;
    width: 200px;
}
.fm-profile-content { margin-left: 215px }
table.fm-member-list a { white-space: nowrap }
table#fm-mailbox-indicator {
    margin: 5px 0;
    width: 100%;
}
#forum-wrapper table#fm-mailbox-indicator td {
    border: none;
    padding: 0;
    vertical-align: middle;
}
#forum-wrapper table#fm-mailbox-indicator td#fm-mailbox-indicator-bar { background: #F0F0F0 }
#forum-wrapper table#fm-mailbox-indicator td#fm-mailbox-indicator-bar div {
    background: #000;
    border: 2px solid #000;
}
#forum-wrapper td.fm-first,
#forum-wrapper td.fm-second,
#forum-wrapper td.fm-third { width: 120px }
#forum-wrapper td.fm-second { text-align: center }
#forum-wrapper td.fm-third { text-align: right }
#forum-wrapper .fm-header-wrapper.fm-private-messages a.fm-button { margin-top: 17px }
#forum-wrapper table.fm-mailbox-table th.fm-message-subject {
    padding-left: 20px;
    width: 300px;
}
#forum-wrapper table.fm-mailbox-table td.fm-message-status {
    padding-right: 0;
    text-align: center;
    width: 10px;
}
#forum-wrapper table.fm-mailbox-table td {
    padding-bottom: 8px;
    padding-left: 5px;
    padding-top: 8px;
}
#forum-wrapper td.fm-formatting-buttons table { margin: 10px 0 8px }
#forum-wrapper td.fm-formatting-buttons table td {
    border: none;
    padding: 0;
}
#forum-wrapper td.fm-formatting-buttons table td a {
    -webkit-box-shadow: 1px 2px 0 #bababa;
    background: #ebebeb;
    border-radius: 5px;
    margin-right: 5px;
    padding: 5px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
#forum-wrapper td.fm-formatting-buttons table td a:hover {
    background: #e4e4e4;
    cursor: pointer!important;
}
#forum-wrapper td.htmlButtonOuterL { width: 10px }
.fm-profile-detail-wrapper .fm-header-wrapper .fm-member-photo {
    background: #fff;
    float: right;
    margin-top: 15px;
    padding: 15px;
    width: 430px;
}
#forum-wrapper .fm-profile-detail-wrapper .fm-header-wrapper img {
    float: left;
    margin-right: 15px;
}
#forum-wrapper .fm-profile-stats-wrapper ul {
    list-style-type: none;
    margin-left: 12px;
    margin-top: 10px;
}
#forum-wrapper .fm-profile-stats-wrapper ul li {
    border-bottom: 1px solid #f0f0f0;
    clear: left;
    padding: 5px;
}
#forum-wrapper .fm-profile-stats-wrapper ul li strong {
    display: inline-block;
    width: 180px;
}
#forum-wrapper .fm-profile-communications,
#forum-wrapper .fm-profile-statistics {
    float: left;
    margin-top: 15px;
    overflow: hidden;
    width: 475px;
}
#forum-wrapper .fm-profile-personal-info,
#forum-wrapper .fm-profile-bio {
    border-left: 10px solid #fff;
    float: left;
    margin-top: 15px;
    overflow: hidden;
    width: 475px;
}
#forum-wrapper .fm-profile-bio { margin-bottom: 25px }
#forum-wrapper .fm-personal-settings,
#forum-wrapper .fm-messages,
#forum-wrapper .fm-utilities,
#forum-wrapper .fm-extras {
    border: 1px solid #f0f0f0;
    margin-bottom: 15px;
    padding: 10px 10px 0;
}
#forum-wrapper .fm-profile-menu ul {
    list-style-type: none;
    margin: 0 0 15px;
}
#forum-wrapper .fm-profile-menu ul li {
    margin: 0;
    padding: 1px 0;
}
#forum-wrapper .fm-profile-menu ul li a {
    font-weight: 400;
    text-decoration: none;
}
#forum-wrapper .fm-messages h4 span {
    display: none;
    float: right;
}
#forum-wrapper .fm-topic-pagination-wrapper {
    overflow: hidden;
    padding: 15px 0;
}
#forum-wrapper .fm-topic-pagination-wrapper ul li { max-width: 40% }
#forum-wrapper .fm-topic-pagination-wrapper ul li.fm-next-topic a {
    background-image: url("../gfx/arrow_next.png");
    background-position: 100% 50%;
    background-repeat: no-repeat;
    padding-right: 30px;
}
#forum-wrapper .fm-topic-pagination-wrapper ul li.fm-previous-topic { float: left }
#forum-wrapper .fm-topic-pagination-wrapper ul li.fm-previous-topic a {
    background-image: url("../gfx/arrow_prev.png");
    background-position: 10px 50%;
    background-repeat: no-repeat;
    padding-left: 30px;
}
#forum-wrapper .fm-topic-pagination-wrapper ul li a {
    background: #f0f0f0;
    background-repeat: no-repeat;
    display: block;
    padding: 10px;
    text-decoration: none;
    text-shadow: 0 1px 0 #fff;
}
#fastreply { margin-bottom: 60px }
#forum-wrapper .fm-visitor-stats-wrapper .fm-header-wrapper {
    background: url("../gfx/grad_row.png") repeat-x 0 0;
    border-bottom: 0;
    margin-bottom: -18px;
}
#forum-wrapper .fm-visitor-stats-wrapper .fm-header-wrapper h4 {
    font-weight: 700;
    padding-top: 13px;
}
#forum-wrapper .fm-visitor-stats-wrapper table strong {
    float: right;
    font-size: 18px!important;
    line-height: 1em;
}
#forum-wrapper .fm-visitor-stats-wrapper td.fm-most-ever {
    font-weight: 700;
    padding-bottom: 10px;
    padding-top: 10px;
}
#forum-wrapper .fm-whos-online,
#forum-wrapper .fm-legend {
    background: url("../gfx/grad_row.png") repeat-x 0 0;
    border-bottom: 1px solid #E0DFDF;
    border-top: 1px solid #E0DFDF;
    margin-bottom: 15px;
    min-height: 45px;
    padding: 10px 0;
}
#forum-wrapper .fm-legend {
    float: right;
    overflow: hidden;
    padding: 10px 0;
    width: 400px;
}
#forum-wrapper .fm-whos-online { width: 540px }
#forum-wrapper .fm-whos-online p { margin: 0 0 0 15px }
#forum-wrapper .fm-whos-online h4,
#forum-wrapper .fm-legend h4 {
    font-size: 13px;
    font-weight: 700;
    margin: 0 0 10px 15px;
}
#forum-wrapper .fm-legend ul {
    list-style-type: none;
    margin: 0 15px;
    padding: 0;
}
#forum-wrapper .fm-legend ul li {
    float: left;
    padding: 0;
    width: 150px;
}
#forum-wrapper .fm-legend ul li img {
    float: left;
    margin-right: 10px;
}
#fm-review-wrapper {
    margin-bottom: 30px;
    overflow: hidden;
}
#fm-review-wrapper span.fm-review-toggle {
    background: #EBEBEB url("../gfx/expand.png") no-repeat 10px 50%;
    display: block;
    float: left;
    padding: 10px 20px 10px 30px;
}
#fm-review-wrapper span.fm-review-toggle.fm-expanded { background-image: url("../gfx/collapse.png") }
#forum-wrapper p#fm-review-posts-summary {
    background: #EBEBEB;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
}
#fm-footer {
    background: #f0f0f0;
    border-top: 5px solid #d7d7d7;
    clear: both;
    padding: 25px 15px;
}
#forum-wrapper .fm-load-stats {
    clear: both;
    display: block;
}
#forum-wrapper ul#fm-home-tools,
#forum-wrapper table.fm-forum-topic h4,
#forum-wrapper table.fm-forum-topic p,
#forum-wrapper .fm-post-meta p {
    margin: 0;
    padding: 0;
}
#fm-main-navigation,
#forum-wrapper .fm-thread-footer-wrapper,
#forum-wrapper .fm-profile-wrapper,
#forum-wrapper .fm-profile-detail-wrapper,
#forum-wrapper .fm-profile-detail-wrapper .fm-header-wrapper { overflow: hidden }
#fm-crumbs .fm-quick-search a,
#fm-review-posts { display: none }
#forum-wrapper td.fm-info,
#forum-wrapper td.fm-disclaimer,
#forum-wrapper .fm-forum-topic .fm-heading p,
#forum-wrapper .fm-poll-wrapper table th span { font-size: 11px }
#forum-wrapper th.fm-heading,
#forum-wrapper .fm-private-message-details th { padding-left: 15px }
#forum-wrapper .fm-topic-subtitle,
#forum-wrapper .fm-notification-wrapper,
#forum-wrapper .fm-login-wrapper,
#forum-wrapper form#register_member_form { padding: 0 15px }
#forum-wrapper .fm-header-wrapper span,
#forum-wrapper .fm-thread-footer-wrapper span,
#forum-wrapper .fm-mailbox-switch,
#forum-wrapper .fm-topic-pagination-wrapper ul li.fm-next-topic { float: right }
#forum-wrapper .fm-header-wrapper.fm-extra-info .fm-button,
#forum-wrapper .forum-topic-content .fm-author-info-wrapper .fm-author-ban,
#forum-wrapper .fm-profile-detail-wrapper .fm-header-wrapper .fm-member-photo p,
#forum-wrapper .fm-profile-detail-wrapper .fm-header-wrapper img.fm-avatar { margin-top: 15px }
#forum-wrapper .forum-topic-content .fm-author-info-wrapper .inset,
#forum-wrapper .fm-post-wrapper,
#forum-wrapper .fm-message,
#forum-wrapper .success { padding: 15px }
#forum-wrapper .forum-topic-content .fm-post .fm-file-attachments ul,
#forum-wrapper .fm-topic-pagination-wrapper ul {
    list-style-type: none;
    margin: 0;
}
#forum-wrapper .fm-quick-search-form td,
#forum-wrapper .fm-quick-search-form th,
#forum-wrapper .fm-forum-topic td,
#forum-wrapper table.fm-mailbox-table th { vertical-align: middle }
#forum-wrapper .fm-profile-statistics,
#forum-wrapper .fm-visitor-stats-wrapper { clear: both }
#forum-wrapper .fm-messages h4 span:hover,
#fm-review-wrapper span.fm-review-toggle:hover { cursor: pointer }
#forum-wrapper a.fm-button.delete,
#forum-wrapper a.fm-botton.delete:visited,
#forum-wrapper .forum-topic-content .fm-post-utilities a.fm-button.delete { background: #900 }
#forum-wrapper a.fm-button.add,
#forum-wrapper a.fm-botton.add:visited { background: #0c7c11 }
#forum-wrapper .fm-error-message,
#forum-wrapper .fm-required {
    color: #900;
    font-weight: 700;
}
#forum-wrapper .fm-author-info-wrapper div,
#forum-wrapper .fm-author-info-wrapper p {
    margin: 0;
    padding: 0;
}
#forum-wrapper .fm-author-info-wrapper .fm-avatar-wrapper,
#forum-wrapper .fm-author-info-wrapper .fm-rank-wrapper {
    border: 1px solid #ABABAB;
    clear: both;
    display: block;
    float: left;
    margin-bottom: 5px;
}
#forum-wrapper .fm-post-author-rank,
#forum-wrapper .fm-author-posts-stats,
#forum-wrapper .fm-author-join-stats {
    clear: left;
    font-size: 11px;
}
#forum-wrapper input.input,
#forum-wrapper textarea { border: 1px solid #c3c9c6; padding: 5px;}
#fm-main-navigation ul li a {
    background: #f0f0f0;
    color: #000;
    text-shadow: 0 1px 0 #fff;
}
#fm-main-navigation ul li a:hover,
#fm-main-navigation ul li a.active {
    background: #d7d7d7;
    color: #000;
}
#forum-wrapper .fm-post-meta {
    background: #d7d7d7;
    border-top: 5px solid #ababab;
    color: #666;
    padding: 8px 15px;
    text-shadow: 0 1px 0 #f0f0f0;
}
#forum-wrapper .forum-topic-content .fm-post .fm-post-attachments,
#forum-wrapper .fm-signature-wrapper { border-top: 1px solid #e0dfdf }
#forum-wrapper .fm-attachments {
    background: #f0f0f0;
    padding: 15px;
}
#forum-wrapper .fm-header-wrapper,
#forum-wrapper .fm-thread-footer-wrapper,
#forum-wrapper .fm-post-footer {
    background: #f0f0f0;
    border-bottom: 1px solid #e0dfdf;
    border-top: 1px solid #e0dfdf;
}
#forum-wrapper table.fm-forum-topic td,
#forum-wrapper table.fm-data-grid td,
#forum-wrapper table.fm-data-grid th { border-bottom: 1px solid #EBEBEB }
#forum-wrapper th {
    background: #d7d7d7;
    text-shadow: 0 1px 0 #fff;
}
#forum-wrapper th.fm-warning {
    background: #900;
    color: #fff;
    text-shadow: 0 1px 0 #300;
}
#forum-wrapper table.fm-avatar-grid td,
#forum-wrapper p.fm-submit { background: #ebebeb }
#forum-wrapper table.fm-avatar-grid td img { border: 4px solid #fff }
#forum-wrapper table.fm-avatar-grid td img:hover { cursor: pointer }
#forum-wrapper p.fm-thread-unsubscribe a,
#fm-crumbs p a { color: #666 }
#fm-fast-reply,
#forum-wrapper .fm-thread-footer-wrapper { border-top: 5px solid #ababab }
#forum-wrapper .fm-advanced-search-wrapper { overflow: hidden }
#forum-wrapper .fm-advanced-search-alpha,
#forum-wrapper .fm-advanced-search-omega {
    float: left;
    width: 50%;
}
#forum-wrapper .fm-advanced-search-alpha p,
#forum-wrapper .fm-advanced-search-omega p { padding: 5px 20px }
#forum-wrapper .fm-bad-pagination td {
    padding: 0;
    margin: 0;
}