/* @override 
	http://neptune.lvl2-utsa.lvl2-edu/webdev/college/css/college-var.lvl2-css
	http://neptune.lvl2-utsa.lvl2-edu/webdev/graduate/css/college-var.lvl2-css
*/

/*
Title:			College Variation v.lvl2-1
Author:			Jona Haga-Camacho
Project:		Branding Guidelines
Description: 	Variation for college website templates
*/

/* @group Header */

/* UTSA LOGO =========================*/

#lvl2-topBar { padding-bottom: 10px }

ul.lvl2-logo { border-bottom: 0 }

/* COLLEGE HEAD =========================*/

#lvl2-head {
    background-color: #093968;
    padding: 15px 0 8px;
    width: 100%; }

#lvl2-head .lvl2-audience-wrap ul#lvl2-audience li a { 
	border-bottom: none;
	color: #093968 }

#lvl2-head .lvl2-audience-wrap ul#lvl2-audience li a:hover { color: #f47321 }

#lvl2-head #lvl2-audience li a#lvl2-apply { border-right: 3px solid #093968 }

.lvl2-headerTitle {
    margin: 0 auto;
    padding: 15px 0;
    width: 950px; }

    .lvl2-headerTitle a {
        border-bottom: 0;
        color: #fff;
        font: normal 36px/1 Georgia, "Times New Roman", Times, serif; }

/* @end */

/* @group Top Nav */

#lvl2-topNav {
    margin: 0 auto;
    position: relative;
    width: 950px; }
	
	#lvl2-topNav ul { margin: 0 }
	
    #lvl2-topNav ul.lvl2-nav li {
        float: left;
        list-style: none;
        margin: 0;
        padding: 8px;
        position: relative; }
	    #lvl2-topNav ul.lvl2-nav li.lvl2-nav-first { margin-left: -8px }	
	    #lvl2-topNav ul.lvl2-nav li:hover { background: #002244 }

    #lvl2-topNav ul.lvl2-nav li a {
        border-bottom: none;
        color: #fff;
        font: normal 16px/1.2 sans-serif;
        margin-bottom: 5px;
        text-indent: 0; }
        
        #lvl2-topNav ul.lvl2-nav li a.lvl2-active { color: #f47321; }

		ul.lvl2-nav .lvl2-dropdown {
		    background-color: #002244;
		    border-bottom: 6px solid #f47321;
		    color: #fff;
		    left: -9999px;
		    position: absolute;
		    text-align: left;
		    top: 35px;
		    z-index: 4000;
		    -moz-border-radius: 0 8px 8px 8px;
		    -webkit-border-radius: 0 8px 8px 8px; }
			    
			#lvl2-topNav ul.lvl2-nav .lvl2-dropdown li {
		        display: block;
		        float: none; }
		
			    ul.lvl2-nav .lvl2-dropdown .lvl2-dropdown-wrap { padding: 10px 18px }

		        #lvl2-topNav ul.lvl2-nav li .lvl2-dropdown-wrap ul li {
		            border-bottom: 1px solid #0d5397;
		            padding: 5px 0; }
		
		            #lvl2-topNav ul.lvl2-nav li .lvl2-dropdown-wrap ul li a {
		                display: block;
		                font: normal 13px/1.5 sans-serif;
		                margin: 0;
		                white-space: nowrap;}
		
		            #lvl2-topNav ul.lvl2-nav li .lvl2-dropdown-wrap ul li a:hover { color: #f47321; }
			
					/* Making Dropdown Appear */
					ul.lvl2-nav li:hover .lvl2-dropdown { left: 0 }

/* @group Audience Wrap */

.lvl2-audience-wrap {
    margin-top: -2px;
    padding: 0; }

    .lvl2-audience-wrap ul#lvl2-audience li a {
        background-color: #fff;
        color: #17607f;
        line-height: 1.9;
        padding: 2px 5px; }

    .lvl2-audience-wrap ul#lvl2-audience li a {
        background-color: #fff;
        color: #17607f;
        line-height: 1.9;
        padding: 2px 5px; }

ul#lvl2-audience li a:hover { color: #f47321 }

/* @end */

/* @end */

/* @group Feature with Caption */
#lvl2-caption-feature { margin-bottom: 20px }

.lvl2-feature-container {
    background-color: #111;
    height: 280px;
    width: 950px; }

.lvl2-feature-image {
    height: 280px;
    overflow: hidden;
    position: relative;
    width: 950px; }

.lvl2-feature-image .lvl2-feature-caption-hidden { display: none }

.lvl2-feature-caption { /*There is an IE6 Conditional*/
    background-color: #dd4814;
    height: 230px;
    margin-left: 0px; /*Positions the Orange Box [x]*/
    margin-top: -255px; /*Positions the Orange Box [y]*/
    position: relative;
    width: 340px; }

    .lvl2-feature-caption span.lvl2-emphasis {
        color: #f47321;
        font-size: 50px; }

    .lvl2-feature-caption .lvl2-h2 {
        color: #fff;
        font: bold 18px/1.3 Arial, sans-serif;
        padding: 5px 20px 0px 20px; }

    .lvl2-feature-caption .lvl2-h3 {
        color: #eee;
        font: normal 13px/1.3 sans-serif;
        padding: 5px 20px 0px 20px; }

    .lvl2-feature-caption .lvl2-h1 {
        color: #002244;
        font: bold 27px/1.3 sans-serif;
        padding: 20px 20px 0px 20px; }

    .lvl2-feature-caption a {
        border-bottom: #fff 1px solid;
        color: #fff;
        /*padding-bottom: 2px;*/ }

    .lvl2-feature-caption a:hover { color: #FC6 }

.lvl2-feature-nav { /*There is an IE6 Conditional*/
    cursor: pointer;
    margin-left: 20px;	/*Positions the Feature Navigation [x]*/
    margin-top: 205px;	/*Positions the Feature Navigation [y]*/
    position: absolute;
    z-index: 9000; }

    .lvl2-feature-nav a.lvl2-activeSlide { color: #002244 }

    .lvl2-feature-nav a.lvl2-sfnav {
        border-bottom: none;
        color: #fff;
        font-size: 2.lvl2-7em;
        padding-right: 2px; }

        .lvl2-feature-nav a.lvl2-sfnav a { color: #f47321 }

        .lvl2-feature-nav a.lvl2-activeSlide { color: #a7c2d9 }

    .lvl2-feature-nav li { padding-bottom: 0 }

/* @end */

/* @group Misc.lvl2- Structure */

#lvl2-content-white { padding-top: 10px }

.lvl2-r-border {
    border-right: 1px solid #ccc;
    padding-right: 20px; }

/* @end */

/* @group Misc.lvl2- Typography */

body { font-family: "Arial", sans-serif; }

p.lvl2-intro { 
	color: #616365;
	font-size: 16px; }

.lvl2-news h1, .lvl2-events h1, .lvl2-news .lvl2-h1, .lvl2-events .lvl2-h1
{ 
	border-bottom: 1px dotted #f47321;
	font-size: 20px;
	margin-bottom: 15px;
	padding-bottom: 0; 
}

.lvl2-news h2,
.lvl2-events h2 { 
	font-size: 13px;
	font-weight: bold;
	line-height: 1.3; 
	padding-bottom: 0;}

.lvl2-news h3, .lvl2-events h3{
	font-size:13px;
	font-weight: bold;
	line-height: 1.3;
	padding-bottom: 0;
	color: #002244;
}

.lvl2-news p { 
	color: #666;
	font-size: 12px; }

	span.lvl2-newsDate { 
		color: #999;
		display: block;
		font-size: 10px;
		letter-spacing: 1px;
		text-transform: uppercase; }


.lvl2-events h3 { 
	color: #002244;
	font-size: 12px;
	font-weight: bold;
	line-height: 1.3;
	padding-bottom: 2px; }
	
.lvl2-event-name p { 
	color: #666;
	font-size: 11px; }

.lvl2-event-date span.lvl2-month { 
	color: #616365; 
	font-weight: bold; }
	
.lvl2-event-date span.lvl2-day {
	color: #616365; 
	font-size: 16px;
	font-weight: bold; }

ul.lvl2-links { margin-left: 0 }

    ul.lvl2-links li {
        border-bottom: 1px solid #ddd;
        list-style-type: none;
        padding: 5px 0; }

    ul.lvl2-links a { border-bottom: 0 }

/* @end */

/* @group Footer */

ul.lvl2-social { margin: 0 }

    ul.lvl2-social li.lvl2-twitter a { background-image: url("http://utsa.lvl2-edu/img/social/twitter.png") }

    ul.lvl2-social li.lvl2-fb a { background-image: url("http://utsa.lvl2-edu/img/social/fb.png") }
    
    ul.lvl2-social li.lvl2-flickr a { background-image: url("http://utsa.lvl2-edu/img/social/flickr.png") }

#lvl2-footer-gray ul.lvl2-social li {
    display: inline;
    float: left;
    margin-right: 10px; }

#lvl2-footer-gray ul.lvl2-social li a {
	border-bottom: 0;
	display: block;
	height: 24px;
	text-indent: -99999px;
	width: 24px; }

/* @end */
