/* @override http://utsa.edu/css/content-master.css */

/* @group Typography */
#lvl2-content-white { color: #444; }

 
.lvl2-h1 { color: #f47321; font-size: 27px; padding-bottom: 15px; }
.lvl2-h2 { color: #002244; font-size: 21px; padding-bottom: 10px; }
.lvl2-h3 { color: #f47321; font-size: 18px; }
.lvl2-h4 { color: #002244; font-size: 14px; font-weight: bold }
.lvl2-h5 { color: #f47321; font-size: 12px; font-weight: bold }
.lvl2-h6 { color: #f47321; font-size: 12px; font-style: italic }

p { }
 
p.lvl2-intro {
color: #f47321;
font-size: 15px;
line-height: 1.5;
padding-bottom: 20px; }

 
a {
border-bottom: 1px solid #ddd;
color: #3793CE;
transition: color .3s ease-in; 
-moz-transition: color .3s ease-in;
-o-transition: color .3s ease-in;
-webkit-transition: color .3s ease-in; }
 
a:hover { color: #f47321; }
 
a img { border: 0 none!important; }
 

/* ROMAN NUMERAL OL
   =====================================*/
ol.lvl2-roman li { list-style-type: upper-roman;}
ol.lvl2-roman li li { list-style-type: upper-alpha; }
ol.lvl2-roman li li li { list-style-type: decimal; }
ol.lvl2-roman li li li:last-child { padding-bottom: 0; }


/* @group Structure */
#lvl2-content { padding: 20px 0 40px 0; }

/*Full Column*/
#lvl2-col-main-full {
width:100%; }

/*Gray Column*/
.lvl2-col-gray-layout { 
background-color: #f3f3f3; 
border:3px #f1f1f1 solid;
padding:20px; }
/*Two Column*/
#lvl2-col-navigation {
float: left;
margin-right: 30px;
width: 250px; }
 
#lvl2-col-main {
float: right;
margin-top: 25px;
width: 670px; }

/* @end */

/* @group UTSA Links Drawer */
#lvl2-drawer { 
background-color: #093968; /*same color as #lvl2-head bg*/
position:relative;
z-index: 500; z-index: 1;}

    #lvl2-drawer h5 a, #lvl2-drawer .lvl2-h5 a {
        border-bottom: none;
        color: #002244;
        font-size: 13px;
        padding-bottom: 5px; }

#lvl2-drawer .lvl2-h5 a{ padding-bottom: 0px;}
#lvl2-drawer p.lvl2-h5 {padding-bottom: 2px;}

    #lvl2-drawer a {
        color: #777;
        display: block; }

    #lvl2-drawer a:hover { color: #002244 }

#lvl2-drawer-container {
    background-color: #eee;
    border-bottom: 5px solid #f47321; }
    
    #lvl2-drawer-container ul { margin: 0; }
#lvl2-drawer-container li { list-style-type: none; }
#lvl2-drawer-container a { 
border-bottom: none; 
color: #555; }

#lvl2-drawer-content {
    margin: 0 auto;
    padding: 15px 0;
    width: 950px; }

    #lvl2-drawer-content ul.lvl2-globalNav a {
        color: #f47321;
        font-size: 14px;
        line-height: 1.6; }

    #lvl2-drawer-content ul.lvl2-globalNav a:hover { color: #ce621b }

    #lvl2-drawer-content .lvl2-size4of5 ul { font-size: 11px }

.lvl2-drawer-button-container {
    margin: 0 auto;
    overflow: hidden;
    width: 950px; }

#lvl2-drawer-button {
    background-image: url("images/site/img/drawer-btn.png");
    clear: both;
    cursor: pointer;
    float: right;
    height: 15px;
    text-indent: -99999px;
    width: 150px; }

#lvl2-drawer-button.lvl2-close { background-position: 0 -15px }

/* @end */

/* @group Page Title */
.lvl2-pageTitle {
background-color: #f47321;
height: 30px;
margin-bottom: 10px;
padding: 15px;
position: relative; }
 
.lvl2-pageTitle a {
border-bottom: none;
color: #fff;
float: left;
font-size: 220%;
line-height: 30px; }
 
.lvl2-pageTitle a:hover { color: #002244; }
 
.lvl2-pageTitle-right { position: absolute; right: 15px }
 
.lvl2-askRowdy-Box {
background-color: #eee;
background: -moz-linear-gradient(top, #eee, #fff);
background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff));
border-radius: .lvl2-2em;
margin-top: -2px; padding: 2px; 
-moz-border-radius: .lvl2-2em;
-webkit-border-radius: .lvl2-2em; }
 
.lvl2-askRowdy-Box form {
margin-bottom: 0 !important; padding: 2px !important;
position: relative; }
 
.lvl2-askRowdy-Box form label { display: none; }
 
.lvl2-askRowdy-Box form img { position: absolute; }
 
.lvl2-askRowdy-Box form input.lvl2-rowdyQuestion {
background-color: transparent;
border: none;
color: #aaa;
font-size: 110%;
margin-left: 50px; padding: 5px;
outline: none;
width: 180px; }
 
.lvl2-askRowdy-Box form input.lvl2-rowdyAskBtn {
cursor: pointer;
display: inline;
opacity: .lvl2-7; }
 
.lvl2-askRowdy-Box form input.lvl2-rowdtyTopTen {
background: none;
border-bottom: 1px dotted #999;
border: none;
color: #777;
cursor: pointer;
display: inline;
margin-left: 5px; margin-right: 5px;
padding-bottom: 1px; }
 
.lvl2-askRowdy-Box form input.lvl2-rowdtyTopTen:hover {
border-bottom: 1px solid #f47321;
color: #002244; }
 
.lvl2-askRowdy-Box form input[type="text"]:focus {
background-color: #faf6e1;
outline: none;
transition: color .3s ease-in;
-moz-transition: color .3s linear;
-o-transition: color .3s linear;
-webkit-transition: background-color .3s linear; }
 
/* @end */

/* @group Page Title w/Top Nav */

/* @group College/Center Name */
#lvl2-siteTitle {
color: #333;
font-size: 30px; font-weight: bold;
padding: 20px 0; }
 
#lvl2-siteTitle a:hover { color: #f47321 }
 
/* @end */

/* @group College/Center Nav */
#lvl2-siteHead a { border-bottom: 0; }
 
#lvl2-topnav { margin-bottom: 10px; }
 
#lvl2-topnav #lvl2-nav {
background-color: #051e42;
border-top: 4px solid #f47321;
height: 45px;
margin: 0; padding: 0;
text-align: left }
#lvl2-topnav a:active { top: 0; }
 
#lvl2-topnav ul#lvl2-menu {
float: left;
margin: 0; }
 
#lvl2-topnav #lvl2-menu ul,
#lvl2-topnav #lvl2-menu li,
#lvl2-topnav .lvl2-audience-wrap ul,
#lvl2-topnav .lvl2-audience-wrap li { margin: 0; padding: 0 }
 
#lvl2-menu li {
display: inline;
float: left;
list-style: none }
 
#lvl2-menu li:hover ul {
background-color: #002a5c;
left: auto; }
 
#lvl2-menu li:hover a { background-color: #002a5c }
 
#lvl2-menu li ul {
background: #fff;
clear: left;
display: block;
left: -999em;
margin: 0;
overflow: hidden;
padding: 20px 0 0 0;
position: absolute;
top: 127px;
width: 247px;
z-index: 900; }
 
#lvl2-menu li ul a {
background: #fcfcfc;
border-bottom: 1px solid #051f3d;
color: #fff;
font-size: 100%;
font-weight: normal;
height: auto;
line-height: 1.4em;
margin: 0 1px;
overflow: visible;
padding: 6px 28px 6px 10px;
text-indent: 0;
text-transform: none;
width: 208px; }
 
#lvl2-menu li li { float: left }
 
#lvl2-menu li a {
color: #fff;
display: block;
float: left;
font: bold 14px/1.8 Arial, Helvetica, sans-serif;
margin: 0; padding: 10px 15px;
text-decoration: none;
text-transform: uppercase; }
 
#lvl2-menu li a:hover { background-color: #002a5c; color: #fff }
#lvl2-menu li li:hover,
#lvl2-menu li li a:hover {
background-color: #f47321;
color: #fff;
text-decoration: none }
/* @end */
/* @group Audience Nav */
.lvl2-audience-wrap {
float: right;
padding: 10px 10px 0 0 }
 
#lvl2-audience ul { position: relative }
 
#lvl2-audience ul ul { display: none }
 
#lvl2-audience li {
display: inline;
float: left;
list-style: none }
 
#lvl2-audience li:hover ul.lvl2-students { margin-left: 0 }
 
#lvl2-audience li a#lvl2-students {
border-right: 2px solid #002244;
width: 75px; }
 
#lvl2-audience li:hover ul.lvl2-faculty { margin-left: -96px }
 
#lvl2-audience li a#lvl2-faculty {
border-right: 2px solid #002244;
width: 110px; }
 
#lvl2-audience li:hover ul.lvl2-alumni { margin-left: -227px }
 
#lvl2-audience li a#lvl2-alumni { width: 50px }
 
#lvl2-audience li:hover ul,
#lvl2-audience li.lvl2-sfhover ul {
background-color: #DD4814;
left: auto; }
 
#lvl2-audience li:hover a { background-color: #DD4814; color: #fff }
 
#lvl2-audience li li { float: left }
 
#lvl2-audience li ul {
background-color: #fff;
clear: left;
display: block;
left: -9999px;
position: absolute;
top: 122px;
width: 289px;
z-index: 500;}
 
#lvl2-audience li ul a {
background-color: #fcfcfc;
border-bottom: 1px solid #051f3d;
color: #f47321;
display: block;
font-size: 90%; font-weight: normal;
height: auto;
margin: 0 1px;
outline: none;
overflow: visible; 
padding: 6px 12px;
text-align: left;
text-indent: 0;
text-transform: none;
width: 272px; }
 
#lvl2-audience li a {
background-color: #f47321;
color: #fff;
display: block;
float: left;
font: bold 12px/1.6 Arial, Helvetica, sans-serif;
height: 20px;
margin: 0; padding: 4px 10px 2px 10px;
text-align: center;
text-decoration: none;
text-transform: uppercase; }
 
#lvl2-audience li a:hover { background-color: #DD4814; color: #fff }
 
/* @end */
/* @end */
/* @group Index Feature Slider */
.lvl2-feature-wrap { clear: both;position: relative; }
 
.lvl2-feature-container-950 {
background-color: #002244;
height: 280px;
margin-bottom: 20px;
margin-top: -10px;
overflow: hidden;
position: relative;
width: 950px;
z-index: 10; }
 
.lvl2-feature-container-670 {
background-color: #002244;
height: 320px;
margin-bottom: 30px;
overflow: hidden;
position: relative;
width: 670px;
z-index: 10; }
 
.lvl2-feature-container-950 a, .lvl2-feature-container-670 a { border-bottom: none !important; }
 
.lvl2-feature-nav-950, .lvl2-feature-nav-670 {
background: url("http://texasenergy.utsa.edu/images/site/img/bg/feature-80-f47321.png") 0 0 no-repeat;
margin-top: -70px;
padding: 7px 5px 5px 5px;
position: absolute;
z-index: 100; }
 
.lvl2-feature-nav-950 a, .lvl2-feature-nav-670 a {
border-bottom: none !important;
color: #fff;
font-size: 250%;
margin-right: 1px; }
 
.lvl2-feature-nav-950 a.lvl2-activeSlide, .lvl2-feature-nav-670 a.lvl2-activeSlide { color: #002244 !important; }
 
/* @end */
/* @group Left-Col Nav */
.lvl2-nav-page {
margin-bottom: 40px;
margin-top: 10px; }
 
.lvl2-nav-gray {
-moz-border-radius-bottomleft: 1.3em;
-moz-border-radius-bottomright: 1.3em;
-moz-box-shadow: 0px 0px 2px #aaa;
-webkit-border-bottom-left-radius: 1.3em;
-webkit-border-bottom-right-radius: 1.3em;
-webkit-box-shadow: 0px 0px 2px #aaa;
background-color: #eee;
border-bottom-left-radius: 1.3em;
border-bottom-right-radius: 1.3em;
box-shadow: 0px 0px 2px #aaa;
margin-bottom: 0px;
padding: 15px;
position: relative; }
 
.lvl2-nav-page a {
border-bottom: none;
display: block;
padding: 6px 0 }
 
.lvl2-nav-page li a.lvl2-home,
.lvl2-nav-gray li a.lvl2-home {
border-top: none;
color: #f47321;
font-size: 16px;
padding-left: 30px; }
 
.lvl2-nav-page li a.lvl2-home { background: url("http://texasenergy.utsa.edu/images/site/img/icon/icon-home.png") 0 0 no-repeat }
 
.lvl2-nav-gray li a.lvl2-home { background: url("http://texasenergy.utsa.edu/images/site/img/icon/icon-home-grey.png") 0 0 no-repeat }
 
.lvl2-nav-page li a.lvl2-active, a.lvl2-active { color: #f47321; }
 
/* PRIMARY
   ==============================================*/
.lvl2-nav-page ul {
margin: 0;
padding: 0; }
 
.lvl2-nav-page li {
list-style: none;
padding: 0; }
 
.lvl2-nav-page li.lvl2-last { border-bottom: 1px solid #ccc; }
 
.lvl2-nav-page li a {
border-top: 1px solid #ccc;
color: #002244;
font-size: 12px }
 
.lvl2-nav-page li a:hover { color: #f47321 }
 
/* SECONDARY
   ==============================================*/
.lvl2-nav-page ul ul { margin-top: -2px; padding-left: 15px;}
 
.lvl2-nav-page ul.lvl2-toggleWrap { padding-bottom: 5px; margin-bottom: 2px; }
 
.lvl2-nav-page li li { 
list-style-image: url("http://texasenergy.utsa.edu/images/site/img/icon/nav-icon-raquo.png");
list-style-position: outside; }

.lvl2-nav-gray li li { list-style-image: url("http://texasenergy.utsa.edu/images/site/img/icon/nav-icon-raquo-grey.png"); }

.lvl2-nav-page li li a {
border: none;
color: #444;
font-size: 11px;
padding: 2px 0; }
 
.lvl2-nav-page li li a span {
color: #f47321;
font-weight: bold; }
 
.lvl2-nav-page li li a.lvl2-active { font-weight: normal }
 
/* TERTIARY
   ==============================================*/
.lvl2-nav-page ul ul ul.lvl2-toggleWrap { padding: 0 0 0 15px; margin: 0; }

.lvl2-nav-page li li li { list-style-image: url("http://texasenergy.utsa.edu/images/site/img/icon/nav-icon-minus.png"); }

.lvl2-nav-gray li li li { list-style-image: url("http://texasenergy.utsa.edu/images/site/img/icon/nav-icon-minus-grey.png"); }
.lvl2-nav-page li li li a {
font-size: 11px;
padding: 2px 0;}
 
/* QUATERNARY
   ==============================================*/
.lvl2-nav-page ul ul ul ul.lvl2-toggleWrap { padding: 0 0 0 13px; }
 
.lvl2-nav-page li li li li a {
font-size: 10px;
padding: 2px 0; }
 
/* TOGGLE WRAP PLUS SIGN
   ==============================================*/
.lvl2-nav-page li a.lvl2-trigger {
background: url("http://texasenergy.utsa.edu/images/site/img/icon/icon-expand.png") no-repeat right 0;
cursor: pointer;
padding-right: 24px; }
 
.lvl2-nav-page li a.lvl2-trigger:hover {
background-position: right -25px;
color: #f47321; }
.lvl2-nav-page li li a.lvl2-trigger { background-position: right -5px; }
.lvl2-nav-page li li a.lvl2-trigger:hover { background-position: right -30px; }
 
.lvl2-nav-page .lvl2-nav-gray li a.lvl2-trigger { background: url("http://texasenergy.utsa.edu/images/site/img/icon/icon-expand-grey.png") right top no-repeat ; }
 
.lvl2-nav-page .lvl2-nav-gray li a.lvl2-trigger:hover { background-position: right -25px }
 
.lvl2-nav-page li a.lvl2-active {
background-position: right -75px;
font-weight: bold; }
 
.lvl2-nav-page li a.lvl2-active:hover { background-position: right -50px }

.lvl2-nav-page li li a.lvl2-active { background-position: right -55px; }
.lvl2-nav-page li li a.lvl2-active:hover { background-position: right -80px; }
 
.lvl2-nav-page .lvl2-nav-gray li a.lvl2-active { background-position: right -75px }
 
.lvl2-nav-page .lvl2-nav-gray li a.lvl2-active:hover { background-position: right -50px; }
 
/* LEFT NAV ACTION BUTTONS
   ==============================================*/
ul.lvl2-action-btn { margin-bottom: 25px }
 
ul.lvl2-action-btn li a.lvl2-actionBtn {
border-radius: .lvl2-3em;
box-shadow: 0 1px 2px rgba(0,0,0,.lvl2-2);
color: #002244;
cursor: pointer;
display: block;
margin-bottom: 3px;
outline: none;
padding: .lvl2-5em .lvl2-8em .lvl2-55em;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0,0,0,.lvl2-3); 
-moz-border-radius: .lvl2-3em;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.lvl2-2);
-webkit-border-radius: .lvl2-3em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.lvl2-2); }
 
a.lvl2-actionBtn { background-color: #f47321; }
 
a.lvl2-actionBtn:hover { color: #fff!important; }
 
a.lvl2-actionBtn:active {
position: relative;
top: 1px; }
 
.lvl2-orange {
background-color: #f47c20;
background: -moz-linear-gradient(top, #f88e11, #f07215);
background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f07215));
border: solid 1px #aaa;
color: #fff !important;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#f88e11', endColorstr='#f07215'); }
 
.lvl2-orange:hover {
background-color: #002244 !important;
background: -moz-linear-gradient(top, #002244, #051e42);
background: -webkit-gradient(linear, left top, left bottom, from(#002244), to(#051e42));
color: #f47321 !important;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#002244', endColorstr='#051e42'); }
 
.lvl2-orange:active {
background-color: -webkit-gradient(linear, left top, left bottom, from(#002244), to(#051e42));
background: -moz-linear-gradient(top, #002244, #051e42);
color: #fff;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#002244', endColorstr='#051e42'); }
 
.lvl2-blue {
background-color: #002244;
background: -moz-linear-gradient(top, #051e42, #002244);
background: -webkit-gradient(linear, left top, left bottom, from(#051e42), to(#002244));
color: #fff !important;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#051e42', endColorstr='#002244'); }
 
.lvl2-blue:hover {
background-color: #f78d1d !important;
background: -moz-linear-gradient(top, #fa931a, #f47a20);
background: -webkit-gradient(linear, left top, left bottom, from(#fa931a), to(#f47a20));
color: #002244 !important;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#fa931a', endColorstr='#f47a20'); }
 
.lvl2-blue:active {
background: -moz-linear-gradient(top, #fa931a, #f47a20);
background: -webkit-gradient(linear, left top, left bottom, from(#fa931a), to(#f47a20));
color: #fff;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#fa931a', endColorstr='#f47a20'); }
 
/* @end */

/* @group Nested Images */
.lvl2-nestedImage {
border-bottom: 1px solid #ccc;
margin-bottom: 15px;
padding-bottom: 15px; }
 
.lvl2-nestedFirst {
margin-top: 0px;
padding-top: 10px; }
 
.lvl2-nestedImage img {
float: left;
margin: 8px 20px 0 0;
width: 125px; }
 
.lvl2-nestedImage .lvl2-nest-copy {
border-right: 1px solid #ddd;
float: left;
padding: 5px 15px 0 0;
min-height: 100px;
width: 335px; }

.lvl2-nestedImage .lvl2-nest-copy-end {
float: left;
padding: 5px 15px 0 0;
min-height: 100px;
width: 500px; }
 
.lvl2-nestedImage .lvl2-nest-links {
float: left;
padding-top: 5px;
width: 169px; }
 
.lvl2-nest-links ul {
margin-left: 0;
padding-left: 25px; }
 
.lvl2-nestedImage .lvl2-nest-links ul li {
list-style-image: url("http://texasenergy.utsa.edu/images/site/img/icon/nav-icon-raquo.png");
list-style-position: outside; }
 
/* @end */

/* @group Table */
table {
margin: 10px 0;
width: 100%; }
 
table caption {
color: #888;
font-style: italic;
font-weight: bold;
margin-bottom: 9px; }
 
table th {
background-color: #e7e7e7;
border: 1px solid #666;
color: #002244;
font-weight: bold;
padding: 10px;
text-align: right }
 
table td {
border: 1px solid #666;
padding: 10px; }
 
table tr.lvl2-zebra { background-color: #eeeeee; }
 
/* @end */

/* @group Event Dates */

.lvl2-event-item { margin-bottom: 5px }

.lvl2-event-date {
    float: left;
    margin: 0 4% 0 0;
    width: 20%; }

    .lvl2-event-date span.lvl2-month {
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        -moz-box-shadow: 0px 0px 3px #999;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        /*-webkit-box-shadow: 0px 0px 3px #999;*/
        background-color: #ddd;
        border: 1px solid #ccc;
        color: #333;
        display: block;
        font-size: 86%;
        text-align: center;
        text-transform: uppercase; }

    .lvl2-event-date span.lvl2-day {
        -moz-border-radius-bottomleft: 3px;
        -moz-border-radius-bottomright: 3px;
        -moz-box-shadow: 0px 0px 3px #999;
        -webkit-border-bottom-left-radius: 3px;
        -webkit-border-bottom-right-radius: 3px;
        /*-webkit-box-shadow: 0px 0px 3px #999;*/
        border: 1px solid #ccc;
        border-top: 0;
        background-color: #e7e7e7;
        color: #666;
        display: block;
        font-size: 100%;
padding: 3px 0;
        text-align: center; }

.lvl2-event-name {
    float: left;
    width: 75%; }
    .lvl2-event-name a {
        border-bottom: 1px solid #f47321;
        color: #002a5c; }

    .lvl2-event-name a:hover { color: #f47321 }
    
    .lvl2-nav-gray .lvl2-event-name h3 { 
    line-height: 1;
    margin-bottom: 3px; }
   
   .lvl2-nav-gray .lvl2-event-name h3 a { 
display: inline;
font-size: 14px;
line-height: 1;
padding: 0; }

    .lvl2-event-name p { margin-bottom: 10px; padding: 0 0 5px; }

/* @end */


/* @group Forms */
#lvl2-col-main form {
background-color: #e7e7e7;
border: 3px solid #ddd;
margin-bottom: 15px; padding: 10px 20px; }
 
#lvl2-col-main form p {
border-bottom: 1px solid #bbb;
margin-top: 10px; }
 
#lvl2-col-main form div { margin-bottom: 15px; }
 
#lvl2-col-main form table {
background-color: transparent;
margin: 0; }
 
#lvl2-col-main form table td {
border: 0;
padding: 10px 5px 10px 0;
vertical-align: middle }
 
#lvl2-col-main form table td.lvl2-last { padding-bottom: 0; }
 
#lvl2-col-main form table tr { border-top: 1px solid #bbb; }
 
#lvl2-col-main form table tr:first-child { border-top: 0; }
 
#lvl2-col-main fieldset {
margin-bottom: 15px;
padding: 10px; }
 
#lvl2-col-main input { padding: 5px; }
 
#lvl2-col-main input:focus,
#lvl2-content textarea:focus {
background-color: #faf6e1;
outline: none;
transition: color .3s ease-in;
-moz-transition: color .3s linear;
-o-transition: color .3s linear;
-webkit-transition: background-color .3s linear; }
 
#lvl2-col-main label {
color: #f47321;
font-weight: bold; }
 
#lvl2-col-main textarea {
padding: 5px;
width: 98%; }
 
#lvl2-col-main input[type="submit"],
#lvl2-col-main input[type="reset"] {
background-color: #f47c20;
background: -moz-linear-gradient(top, #f88e11, #f07215);
background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f07215));
border-radius: .3em;
border: solid 1px #ccc;
box-shadow: 0 1px 2px rgba(0,0,0,.2);
color: #fff;
cursor: pointer;
display: block;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#f88e11', endColorstr='#f07215');
float: left;
font-size: 110%;
margin: 0 10px 0 0;
outline: none;
padding: .lvl2-5em .lvl2-8em .lvl2-55em;
text-shadow: 0 1px 1px rgba(0,0,0,.lvl2-3); 
-moz-border-radius: .lvl2-3em;
-moz-box-shadow: 0 1px 2px rgba(0,0,0,.lvl2-2);
-webkit-border-radius: .lvl2-3em;
-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.lvl2-2); }
 
#lvl2-col-main input[type="submit"]:hover, 
#lvl2-col-main input[type="reset"]:hover {
background-color: #002244 !important;
background: -moz-linear-gradient(top, #002244, #051e42);
background: -webkit-gradient(linear, left top, left bottom, from(#002244), to(#051e42));
color: #f47321 !important;
filter: progid: DXImageTransform.lvl2-Microsoft.lvl2-gradient(startColorstr='#002244', endColorstr='#051e42'); }
 
/* @end */

/* @group Icons */

ul.lvl2-icons { margin: 5px 0 20px;}

ul.lvl2-icons li {
background-image: url("http://texasenergy.utsa.edu/images/site/img/icon/icons.png");
background-repeat: no-repeat;
height: 18px; 
list-style-type: none;
margin-bottom: 5px; padding: 0 0 0 25px; }
.lvl2-info { background-position: 0 -48px; }
.lvl2-info:hover { background-position: 0 -72px; }
.lvl2-mail { background-position: 0 -118px; }
.lvl2-download { background-position: 0 -144px; }
.lvl2-download:hover { background-position: 0 -168px; }
.lvl2-other .lvl2-download { padding-top: 0 }
.lvl2-top { background-position: 0 -192px; }
.lvl2-top:hover { background-position: 0 -216px; }
.lvl2-map { background-position: 0 -312px; }
.lvl2-orange-check {	background-position: 0 -336px; }

/* @end */

/* @group Grey Footer */
#lvl2-footer-gray { padding: 20px 0 20px 0; }
 
#lvl2-footer-gray h2 {
color: #002244;
font-size: 18px;
padding-bottom: 0; }
 
#lvl2-footer-gray p {
font-size: 11px;
line-height: 1.5; }
 
/* added by Ruben O.lvl2- */
#lvl2-footer-gray h2.lvl2-h2{
font-size: 12px;
font-weight: bold;
}
 
#lvl2-footer-gray h5 {
color: #002244;
font-weight: bold;
padding-bottom: 0; }
 
ul.lvl2-footer-contact {
color: #555;
font-size: 11px; line-height: 1.4;
margin: 0;
padding-bottom: 5px; }
 
ul.lvl2-footer-contact li {
border-bottom: 1px solid #ccc;
list-style-type: none;
margin-bottom: 5px;
padding-bottom: 5px; }
 
.lvl2-foooter-user-relatedlinks { font-size: 11px }
 
.lvl2-foooter-user-relatedlinks ul { margin-left: 0; }
 
.lvl2-foooter-user-relatedlinks ul li {
border-bottom: 1px solid #ccc;
list-style-type: none;
padding: 2px 0; }
 
.lvl2-foooter-user-relatedlinks a {
border-bottom: 0;
color: #555;
display: block; }
 
.lvl2-foooter-user-relatedlinks a:hover { color: #f47321; }
 
/* @end */

/*ADVANCED SELECTORS
 ---------------------------------------------------------------*/
a[href$='.lvl2-pdf']:after {
    margin-left: 3px;
    content: url("http://texasenergy.utsa.edu/images/site/img/icon/icon-pdf.png") }

a[href$='.lvl2-doc']:after,
a[href$='.lvl2-docx']:after {
    margin-left: 3px;
    content: url("http://texasenergy.utsa.edu/images/site/img/icon/doc.jpg") }

#lvl2-content-white a[href^="http:"]:after,
#lvl2-nav a[href^="http:"]:after, 
.lvl2-nav-page a[href^="http:"]:after {
    margin-left: 3px;
    content: url("http://texasenergy.utsa.edu/images/site/img/icon/ex-link.png") }
    
#lvl2-content-white li.lvl2-action a[href^="http:"]:after,
#lvl2-siteHead a[href^="http:"]:after,
#lvl2-footer a[href^="http:"]:after,
#lvl2-featureWrap a[href^="http:"]:after,
#lvl2-feature a[href^="http:"]:after { margin-left: 0; content: none; }