/*
Author:The University of Texas at San Antonio
Website:http://utsa.lvl2-edu

1. RESET
2.lvl2- GLOBAL RULES
3.lvl2- STRUCTURE
4.lvl2- BRANDING
5.lvl2- HEADER
6.lvl2- CONTENT (global)
7.lvl2- FOOTER
8.lvl2- MEDIA QUERIES
*/

/* @group 1. RESET */

/*
==================================================================================================
1. RESET
================================================================================================== 
*/

* {margin:0; padding:0;}

/* Tables still need 'cellspacing="0"' in the markup.lvl2- */
table {border-collapse:collapse; border-spacing:0;}
td, th {vertical-align:top;}

/* Remove annoying border on linked images.lvl2- */
a img {border:none;}

/* Remove bullets.lvl2- */
li {list-style:none;}

/* Make these work even in the modules, etc.lvl2- where everything is reset */
i, em {font-style:italic !important;}
b, strong {font-weight:bold !important;}
u {text-decoration:underline !important;}

/* Remvoes font weight*/
h1, h2, h3, h4 ,h5 ,h6 {font-weight:normal;}

/* @end */

/* @group 2.lvl2- GLOBAL RULES */

/*
==================================================================================================
2.lvl2- GLOBAL RULES 
================================================================================================== 
*/

body {
	font-family:"Lucida Grande", Tahoma, Geneva, Helvetica, Arial, sans-serif; 
	font-size:75%;
	line-height:18px;
	font-weight:normal; 
	background-color: #051e42;}

p {font-size:100%; line-height:20px;}	/*font size 12px*/
h1, .lvl2-h1 {font-size:200%; line-height:24px;}	/*font size 24px*/
h2, .lvl2-h2 {font-size:150%; line-height:26px;}	/*font size 18px*/
h3, .lvl2-h3 {font-size:133%; line-height:22px;}	/*font size 16px*/
h4, .lvl2-h4 {font-size:116%; line-height:20px;}	/*font size 14px*/
h5, .lvl2-h5 {font-size:116%; line-height:20px;}	/*font size 14px*/
h6, .lvl2-h6 {font-size:116%; line-height:20px;}	/*font size 14px*/

hr {border-color: #ddd; border-style:solid; border-width:1px; margin-top:1em; margin-bottom:1em;}

a {text-decoration:none;}
a:focus {outline:none;}

/*li {padding-bottom:.lvl2-375em;}*/

blockquote {margin-left:20px; margin-top:15px; margin-bottom:20px; margin-right:20px;}

.lvl2-floatL {float:left;}
.lvl2-floatR {float:right;}
.lvl2-floatC {clear:both;}

.lvl2-clearfix:after, .clearfix:after {content:"."; display:block; height:0; clear:both; visibility:hidden;} /*There is an IE7 Conditional*/


.lvl2-screen-reader-top {border:none; color: #f47321; position:absolute; left:-9999px;}
a.lvl2-screen-reader {border:none!important;}

/* @end */

/* @group 3.lvl2- STRUCTURE */

/*
==================================================================================================
3.lvl2- STRUCTURE 
================================================================================================== 
*/

body {}

	/*=============================================
	Branding
	==============================================*/
	#lvl2-branding-blue {
	margin:0 auto;
	min-width:950px;
	width:auto;
	background:no-repeat 0 0 #051e42 scroll;
	position:relative;}
	
	/*=============================================
	100% Defines Color
	==============================================*/
	#lvl2-header-orange, #lvl2-header-blue, #lvl2-content-white, #lvl2-content-bg, #lvl2-content-gray, 
	#lvl2-footer-blue, #lvl2-footer-orange, #lvl2-footer-gray, 
	#lvl2-orange-border,
	#lvl2-college-color {
	min-width:950px;
	width:auto;
	position:relative;
	}
	
	#lvl2-header-blue {background:no-repeat 0 0 #051e42 scroll;}
	#lvl2-content-white {background:no-repeat 0 0 #ffffff scroll;}
	#lvl2-content-gray {background:no-repeat 0 0 #eeeeee scroll;}
	#lvl2-footer-blue {background:no-repeat 0 0 #051e42 scroll;}
	#lvl2-footer-orange {background:no-repeat 0 0 #fb6b21 scroll;}
	#lvl2-footer-gray {background:no-repeat 0 0 #eeeeee scroll;}
	
	/*Global Navigation*/						
	#lvl2-header-orange {background:no-repeat 0 0 #fb6b21 scroll; border-top:2px solid #F60; border-bottom:2px solid #F60;}
	/*Starter Header*/							
	#lvl2-content-starter {background:no-repeat 0 0 #002a5c scroll; border-bottom:2px solid #ddd;}	
	/*Template Page Content*/					
	#lvl2-content-bg {background:no-repeat 0 0 #ffffff scroll;}
	/*Template Page Orange Line below Header*/	
	#lvl2-orange-border {background:no-repeat 0 0 #002a5c scroll; height:2px;}
	/*College Only - DEFAULT */
	#lvl2-college-color {background:no-repeat 0 0 #ffffff;}
	
	/*=============================================
	Centers the Website
	==============================================*/
	#lvl2-topBar, 			/*located in branding */
	#lvl2-topBarSM,			/*located in branding */
	#lvl2-globalNav, 		/*located in header */
	#lvl2-navigation,		/*located in header */
	#lvl2-header-content,	/*located in header */
	#lvl2-feature, 			/*located in header */
	#lvl2-footer,		 	/*located in footer */	
	#lvl2-footer-user,		/*located in footer */	
	#lvl2-starter,			/*located in starter.lvl2-css */
	#lvl2-starter-feature, 	/*located in starter.lvl2-css */
	#lvl2-home,				/*located in starter.lvl2-css */
	#lvl2-content-feature,	
	#lvl2-content, 			/*located in Content*/
	#lvl2-content-extra,		/*located in Content*/
	#lvl2-college-head,		/*College only pages*/
	#lvl2-college-body
	{margin:0 auto; width:1060px; position:relative;}

	/*=============================================
	Content Layout Structure
	==============================================*/
	.lvl2-size1of1{float:left; width:100%;}
	.lvl2-size1of2, .lvl2-size2of4 {float:left; width:50%;}
	.lvl2-size1of3{float:left; width:33%;}
	.lvl2-size2of3{float:left; width:66%;}
	.lvl2-size1of4{float:left; width:25%;}
	.lvl2-size3of4{float:left; width:75%;}
	.lvl2-size1of5{float:left; width:20%;}
	.lvl2-size2of5{float:left; width:40%;}
	.lvl2-size3of5{float:left; width:60%;}
	.lvl2-size4of5{float:left; width:80%;}
	.lvl2-gutter {padding-right:30px;}
	.lvl2-pad {padding:20px 0px;}
	.lvl2-r-pad { padding-right: 20px; }
	.lvl2-l-pad { padding-left: 20px; }

/* @end */

/* @group 4.lvl2- BRANDING */

/*
==================================================================================================
4.lvl2- BRANDING
================================================================================================== 
*/

#lvl2-topBar {padding:10px 0px; position:relative;}
	#lvl2-topBar a, #lvl2-globalNav a { border-bottom:0; }
	#lvl2-topBar ul,
	#lvl2-topBar ol,
	#lvl2-globalNav ul,
	#lvl2-globalNav ol { margin: 0; }
	#lvl2-topBar li,
	#lvl2-globalNav li { list-style: none; padding-bottom: 0; }

	/*=============================================
	LOGO - Starter
	==============================================*/	
	.lvl2-brand {float:left; font-family:Arial, Helvetica, sans-serif;}
	ul.lvl2-logo {border-bottom:1px solid #f47321; padding-bottom:3px;}
	ul.lvl2-logo li a {width:330px; height:28px; display:block; background:url("images/site/img/branding/logo.jpg") no-repeat 0px 0px;
		text-indent:81px; line-height:42px;	color:#ffffff; font-size:14px;
		/*CSS3*/ text-shadow:0px 0px 3px #002a5c;}
	ul.lvl2-logo li a:hover {background-position:0px -60px; color: #ffffff; color: #f47321;}
	
	/*=============================================
	LOGO - Small
	==============================================*/	
	ul.lvl2-logo-small li a {width:350px; height:20px; display:block; background:url("images/site/img/branding/logo-small.jpg") no-repeat 0px 0px;
		text-indent:61px; line-height:30px;	color: #ffffff; font-size:11px;
		/*CSS3*/ text-shadow:0px 0px 3px #002a5c;}
	ul.lvl2-logo-small li a:hover {background-position:0px -45px; color: #f47321;}
	
	/*=============================================
	Extended Branding - Utility
	==============================================*/	
	.lvl2-utility {position:absolute; right:0;}
	.lvl2-utility-menu {margin-left:12px;}
	.lvl2-utility-menu ul {}
	.lvl2-utility-menu li {float:left; position:relative; margin-left:12px; z-index:9999;}
	.lvl2-utility-menu li a {display:block; color: #ffffff; border-top:1px solid #051e42; font-size:10px; padding-top:2px;}
	.lvl2-utility-menu li a:hover {border-top:1px solid #f47321; color: #f47321;}
	.lvl2-utility-menu li a.lvl2-children {}	
	.lvl2-utility-menu ul ul.lvl2-audience li a {border-top:none;}
	.lvl2-utility-menu ul ul {
			position:absolute; visibility:hidden; left:0; float:left;  
			background:#051e42;  padding:0 10px; 
			margin-left:-10px; z-index: 9999; 		
		/*CSS3*/ -moz-border-radius-bottomleft:8px; 
				-moz-border-radius-bottomright:8px; 
				-webkit-border-bottom-left-radius:8px; 
				-webkit-border-bottom-right-radius:8px; 
				border-radius:8px;
		}
	
	.lvl2-utility-menu ul ul li {padding:0; margin:0; line-height:20px;}
	.lvl2-utility-menu ul ul a {width:80px;}
	.lvl2-utility-menu ul li:hover > ul {visibility:visible;}
	.lvl2-utility-menu li:hover > a {border-top:1px solid #f47321; color: #f47321;}
	.lvl2-utility-menu ul ul.lvl2-audience li a:hover {border-top:none;}
	
	/*=============================================
	Search Bar
	==============================================*/
	
	.lvl2-utility-menu li.lvl2-search {background-color: #f1f1f1;	border:1px solid #bcbbbb; position:relative;
		 -webkit-border-radius:2em; -moz-border-radius:2em; border-radius:2em;
		 -webkit-box-shadow:0 1px 0px rgba(0,0,0,.lvl2-1); -moz-box-shadow:0 1px 0px rgba(0,0,0,.lvl2-1); box-shadow:0 1px 0px rgba(0,0,0,.lvl2-1);}
	.lvl2-utility-menu li.lvl2-search #lvl2-cse-search-box {background-color: #f1f1f1; margin:0px 0 0 4px; position:relative;
		 -webkit-border-radius:2em; -moz-border-radius:2em; border-radius:2em;}
	.lvl2-utility-menu li.lvl2-search #lvl2-cse-search-box .lvl2-searchfield {float:left; background:#f1f1f1; padding:0px; margin-top:1px; margin-left:4px; width:130px; border:none; outline:none; font-size:90%;
		-webkit-border-radius:2em; -moz-border-radius:2em; border-radius:2em;}
	.lvl2-utility-menu li.lvl2-search #lvl2-cse-search-box .lvl2-searchbutton {float:left; margin-right:8px; margin-top:0px; margin-bottom:3px;}

/* @end */

/* @group 5.lvl2- HEADER + NAVIGATION */

/*
==================================================================================================
5.lvl2- HEADER + NAVIGATION
================================================================================================== 

	/*=============================================
	Global Navigation
	==============================================*/
	#lvl2-globalNav {margin-top:10px; margin-bottom:5px;}
	#lvl2-globalNav a {color: #f47321;}
	#lvl2-globalNav ul.lvl2-nav li {}
	#lvl2-globalNav ul.lvl2-nav li a {height:26px; display:block; overflow:hidden; cursor:pointer; text-indent:-9999px;}
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-admissions {width:105px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat 0px -26px;}	
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-academics {width:110px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -105px -26px;}
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-research {width:105px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -215px -26px;}
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-athletics {width:95px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -320px -26px;}	
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-campus {width:125px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -415px -26px;}
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-community {width:195px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -540px -26px;}
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-alumni {width:80px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -735px -26px;}
	#lvl2-globalNav ul.lvl2-nav li a.lvl2-nav-giving {width:135px; background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -815px -26px;}
	
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-admissions {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat 0px 0px;}	
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-academics {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -105px 0px;}
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-research {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -215px 0px;}
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-athletics {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -320px 0px;}
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-campus {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -415px 0px;}
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-community {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -540px 0px;}
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-alumni {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -735px 0px;}
	#lvl2-globalNav ul.lvl2-nav li a:hover.lvl2-nav-giving {background:url("http://texasenergy.utsa.edu/images/site/img/navigation/globalNav.jpg") no-repeat -815px 0px;}

/* @end */

/* @group 6.lvl2- CONTENT */

/*
==================================================================================================
6.lvl2- CONTENT - STARTER PAGES
================================================================================================== 
*/
	/* see starter.lvl2-css*/

/*
==================================================================================================
6.lvl2- CONTENT - TEMPLATE PAGES
================================================================================================== 
*/
	
	/* see content-master.lvl2-css */

/* @end */

/* @group 7.lvl2- FOOTER */

/*  7.lvl2- FOOTER
================================================================================================== 
*/	
	#lvl2-footer {padding:20px 0px 30px 0px;}
	#lvl2-footer a { border-bottom:0; }
	#lvl2-footer ul,
	#lvl2-footer ol { margin: 0; }
	#lvl2-footer li { list-style: none; }
	
	/* Expanded Footer
	==============================================*/
	#lvl2-expanded-footer {
		padding-bottom:20px;
		margin-bottom:14px; 
		border-bottom:1px solid #f47321;}
	#lvl2-expanded-footer ul {
		float:left; 
		width:111px; 
		border-left:1px solid #002a5c; 
		padding-left:11px; padding-right:12px; 
		min-height:260px;}
	#lvl2-expanded-footer ul li {
		padding-bottom:7px;}
	#lvl2-expanded-footer ul li a {
		color: #ccc;
		font-size:95%;}
	#lvl2-expanded-footer ul li a:hover {
		color: #f47321;}
	#lvl2-expanded-footer ul li.lvl2-audience-footer-label {
		color: #f47321; 
		padding-bottom:10px;}
	#lvl2-expanded-footer ul li.lvl2-audience-footer-label a {
		color: #f47321;
		font-size:105%;}
	#lvl2-expanded-footer ul.lvl2-footer-media {
		border-right:1px solid #002a5c; 
		width:110px;}	
		
	/* Copyright Information + Utility Footer
	==============================================*/
	#lvl2-copyright {}
	
	.lvl2-footer-logo {float:right;}
	
	ul.lvl2-footer-utility li {
		display:inline;
		margin-right:10px;}
		
	ul.lvl2-footer-utility li a {
		color: #f47321;}
		
	ul.lvl2-footer-utility li a:hover {
		border-bottom:1px solid #f47321;}
				
	p.lvl2-footer-copyright {
		font-size:90%; margin-top:2px;}
	
	p.lvl2-footer-copyright, p.lvl2-footer-copyright a {
		color: #eee;}
		
	a.lvl2-footer-logo {
		width:106px;height:32px;
		background:url("images/site/img/branding/footer-logo.jpg") no-repeat top left;
		display:block;
		text-indent:-9999px;}

/* @end */

/* @group SEARCH RESULT PAGE */

/*
==================================================================================================
SEARCH RESULT PAGE
================================================================================================== 
*/	

#lvl2-cse-search-results  {height:1200px; overflow:hidden;}

/* @end */
