lol/* Parscale Media Style Sheet
-----------------------------------------------------------------------------

Prototype Version:  2.3
Developer: 			Parscale Media
Email Address:		info@parscale.com
Developer Website:  http://www.parscale.com/

Client Website: 	http://
Last Modifier:		Brad Parscale - Parscale Media
Last Modified: 		11.8.2010

*/

/* Table of Contents
-----------------------------------------------------------------------------

	1. Clean Base
	2. Base Typography
	3. Images
	4. Links
	5. Forms
	6. Tables
	7. Framework

*/

/* 1. Create a Clean Base
------------------------------------------------------------------------------*/

html, body, br, hr, div, span, a, object, iframe, ul, ol, dl, li, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote, q, address,
small, big, cite, dfn, ins, del, i, em, b, strong, sup, sub, strike, pre, code, samp, kbd, var, tt, form, fieldset, legend, label,
input, textarea, option, .nobox {background: transparent; border: 0; font-size: 100%; margin: 0; outline: 0; padding: 0; vertical-align: baseline;}

blockquote, q {quotes: none;}
br {height: 0;}
ul, ol, dl {list-style: none;}

/* Class for clearing floats */
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; width:0; height:0;}


/* 2. Define Base Typography
------------------------------------------------------------------------------*/

/* Create the Default Headers  */
h1, h2, h3, h4, h5, h6 {color: #555555; font-family: 'Open Sans', sans-serif; font-weight: 400;}

/* Create the Default Paragraphs */
p {color:#636363; line-height:20px;}

/* Specific Header Settings */
h1 {font-size: 28px;}
h2 {font-size: 20px;}
h3 {font-size: 18px;}
h4 {font-size: 16px;}
h5 {font-size: 14px;}
h6 {font-size: 12px;}

/* Other Typo */
strong{font-weight: bold;}
hr {border:0 #000 solid; border-top-width: 1px; clear: both; height: 0;}
ol {list-style: decimal;}
ul {list-style: square;}


/* 3. Images
------------------------------------------------------------------------------*/

/* Remove border around linked images */
img {border: 0; border-style: none;}

/* 4. Links
------------------------------------------------------------------------------*/

/* Default Link Types */
a {color:#669b9b; text-decoration: none;}
a:hover {color:#f47321; text-decoration: none;}
a:active {outline: none;}
a:focus {outline: none;}

/* 5. Forms
------------------------------------------------------------------------------*/

/* Removes fieldset borders. even on Opea 7 */
fieldset {border: 1px solid transparent;}

/* 6. Tables
------------------------------------------------------------------------------*/

/* Table Fixes */
table {border-spacing: 0; border-collapse: collapse;}
td {text-align: left; font-weight: normal;}

/* Removes fieldset borders. even on Opera 7 */
fieldset {border: 1px solid transparent;}

/* 7. Framework
------------------------------------------------------------------------------*/

/* Page Layout */
html, body {height: 100%; font: 13px "verdana","helvetica",sans-serif, monospace;}

/* Wrapper */
#wrapper {min-height: 100%; height: auto !important; margin:0 auto -275px;}

/* Header */
#header_wrapper {border-bottom: 5px solid #d5e0e0; height: 150px;}
#header {width: 960px; height: 150px; position: relative; margin: 0 auto;}
#header_logo {position: absolute; top: 10px; left: 0;}
#header_links {position: absolute; top: 22px; right: 130px;}
#header_social {position: absolute; top: 20px; right: 0;}

/* UTSA Header */
#utsa_header_wrapper {height: 40px; width: 100%; background: #061E42;}
#utsa_header {width: 960px; height: 40px; margin: 0 auto; position: relative;}
#utsa_header a {font-weight: normal;}
#utsa_header_logo {position: absolute; top: 3px; left: 0;}
.brand{border-bottom:1px solid #F47321; float:left; font-family:Arial,Helvetica,sans-serif; padding-bottom:4px;}
ul.logo {list-style: none;}
ul.logo li a{background:url("images/site/logo.jpg") no-repeat scroll 0 0 transparent; color:#FFF; display:block; font-size:14px; height:28px; line-height:42px; text-indent:81px; text-shadow:0 0 3px #002A5C; width:330px;}
ul.logo li a:hover{background-position:0 -60px; color:#F47321; text-decoration:none; }
#utsa_header_nav {position: absolute; top: 5px; right: 0;}
#utsa_header_nav ul {list-style: none;}
#utsa_header_nav ul li {display: block; float: left; position: relative;}
#utsa_header_nav ul li a {color: #fff; font-size: 11px; margin-right: 10px; padding-top: 5px; font-family: 'arial';}
#utsa_header_nav ul li a:hover {color: #f47321; border-top: 1px solid #f47321;}
#utsa_header_nav ul li ul {display: none; position: absolute; top: 15px; left: -10px; background: #061E42; border-radius: 8px 8px 8px 8px; padding: 10px; z-index: 1100;}
#utsa_header_nav ul li:hover ul {display: block;}
#utsa_header_nav ul li ul li {float: none; line-height: 20px; width: 100px;}
#utsa_header_nav ul li ul li a:hover {color: #f47321; border-top: none;}

/* Navigation */
#navigation {position: absolute; bottom: 0; left: 0;}
#navigation ul {list-style: none;}
#navigation ul li {display: inline;}
#navigation ul li a {display: block; height: 50px; float: left; text-indent: -9999px;}
#navigation ul li a:hover {background-position: 0 -50px !important;}
#navigation ul li a.active {background-position: 0 -50px !important;}
#navigation ul li a#nav1 {width: 130px; background: url("images/site/nav_1.jpg") 0 0 no-repeat;}
#navigation ul li a#nav2 {width: 150px; background: url("images/site/nav_2.jpg") 0 0 no-repeat;}
#navigation ul li a#nav3 {width: 140px; background: url("images/site/nav_3.jpg") 0 0 no-repeat;}
#navigation ul li a#nav4 {width: 160px; background: url("images/site/nav_4.jpg") 0 0 no-repeat;}
#navigation ul li a#nav5 {width: 125px; background: url("images/site/nav_5.jpg") 0 0 no-repeat;}
#navigation ul li a#nav6 {width: 110px; background: url("images/site/nav_6.jpg") 0 0 no-repeat;}
#navigation ul li a#nav7 {width: 145px; background: url("images/site/nav_7.jpg") 0 0 no-repeat;}

/* Banner */
#banner_wrapper {height: 365px;}
#banner {width: 960px; height: 350px; margin: 0 auto; border-bottom: 5px solid #d5e0e0; position: relative; overflow: hidden;}
.banner_image {width: 960px; height: 350px; position: absolute;}
.banner_overlay {position: absolute; top: 0; left: 580px; width: 380px; height: 350px; background: url("images/site/banner_overlay.png") 0 0 no-repeat;}
.banner_message {position: absolute; top: 60px; left: 90px; right: 50px; color: #fff;}
.banner_message h2 {color: #fecc66; font-size: 34px; line-height: 36px; font-weight: 300; margin-bottom: 10px;}
.banner_message p {color: #fff; font-size: 14px; line-height: 24px;}
.banner_message a {color: #9cd4d4; text-transform: uppercase; font-size: 12px; font-weight: 400;}
#banner_nav {width: 960px; margin: 0 auto;}


/* Icon Bar */
#icon_bar {width: 960px; height: 150px; margin: 0 auto; background: #f8f8f5; margin-bottom: 25px; margin-top: 10px;}
#icon_bar ul {list-style: none;}
#icon_bar ul li {display: inline;}
#icon_bar ul li a {display: block; height: 150px; width: 85px; float: left; text-indent: -9999px; margin-right: 10px;}
#icon_bar ul li a#icon1 {background: url("images/site/home_icon_1.png") 0 0 no-repeat;}
#icon_bar ul li a#icon2 {background: url("images/site/home_icon_2.png") 0 0 no-repeat;}
#icon_bar ul li a#icon3 {background: url("images/site/home_icon_3.png") 0 0 no-repeat;}
#icon_bar ul li a#icon4 {background: url("images/site/home_icon_4.png") 0 0 no-repeat;}
#icon_bar ul li a#icon5 {background: url("images/site/home_icon_5.png") 0 0 no-repeat;}
#icon_bar ul li a#icon6 {background: url("images/site/home_icon_6.png") 0 0 no-repeat;}
#icon_bar ul li a#icon7 {background: url("images/site/home_icon_7.png") 0 0 no-repeat;}
#icon_bar ul li a#icon8 {background: url("images/site/home_icon_8.png") 0 0 no-repeat;}
#icon_bar ul li a#icon9 {background: url("images/site/home_icon_9.png") 0 0 no-repeat;}
#icon_bar ul li a#icon10 {background: url("images/site/home_icon_10.png") 0 0 no-repeat;}
#icon_bar .icon_container {margin: 0 auto; width:675px; display:block;}

/* Home Content */
#home_content {width: 960px; margin: 0 auto;}
#home_content h3 {font-family: 'PT Sans Narrow', sans-serif; font-weight: 400; margin-bottom: 10px; text-transform: uppercase;}
#home_left {width: 290px; float: left; margin-right: 40px;}
#home_middle {width: 290px; float: left;}
.home_ {margin-bottom: 10px;}
.home_news_image {width: 60px; float: left; margin-right: 20px;}
.home_news_text {width: 210px; float: right;}
#home_content .home_news_text p {margin-bottom: 5px; font-size: 12px; line-height: 16px; font-weight: 400; font-family: 'Open Sans', sans-serif;}
#home_content .home_news_text h4 {font-size: 14px; font-weight: 600;}

#home_events {width: 290px; padding: 10px; background: url("images/site/home_sidebar_trans.png"); float: right;}
.home_event {margin-bottom: 10px; padding-bottom: 5px; border-bottom: 1px solid #d7d7d7;}
.home_event_date {width: 45px; margin-right: 25px; float: left; text-align: center;}
.home_event_date p {color: #636363; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; margin-bottom: 0;}
.home_event_day {width: 45px; height: 35px; padding-top: 12px; background: url("images/site/date_bkg.png") 0 0 no-repeat;}
.home_event_day p {color: #fff; font-size: 24px; font-family: 'Open Sans', sans-serif; font-weight: 400;}
.home_event_text {width: 220px; float: left;}
.home_event_text h2 {font-size: 14px; font-weight: 600;}


/* Content */
#content {width: 960px; margin: 0 auto; padding: 10px 0;}

/* Main Content */
#main_content {width: 700px; float: left; margin-right: 30px;}
#main_content h1 {text-transform: uppercase; margin-bottom: 10px; font-weight: 300;}
#main_content p {margin-bottom: 10px;}
#main_content ul,ol {font-size: 12px; line-height: 20px;margin-left: 20px;color:#636363;}
#main_content li {list-style: square;}

/* Secondary Content */
#secondary_content {width: 230px; float: right;}

/* Secondary Navigation */
#secondary_content .sc_nav {margin-bottom: 20px;}
#secondary_content .sc_nav h3 {font-size: 17px; text-transform: uppercase; letter-spacing: .03em; font-family: 'PT Sans Narrow', sans-serif;}
#secondary_content .sc_nav ul {list-style: none;}
#secondary_content .sc_nav ul li {margin-bottom: 5px;}
#secondary_content .sc_nav ul li ul {margin-left: 10px; margin-top: 5px;}
.sc_tags {margin-bottom: 20px;}

/* Crumbs */
#crumbs {margin-bottom: 10px;}
#crumbs p {font-size: 10px;}


/* Tabbed Content */
#tab_content {margin-bottom: 50px;}
#tab_content_nav ul {list-style: none;}
#tab_content_nav ul li {display: inline;}
#tab_content_nav ul li a {background: url("images/site/tabs.png") 0 -40px no-repeat; color: #fff; padding-top: 20px; text-align: center; display: block; width: 160px; height: 20px; float: left; margin-right: 10px;}
#tab_content_nav ul li a:hover {text-decoration: none;}
#tab_content_nav ul li a.active {background-position: 0 0 !important; color: #555555;}
#tab_content_nav ul li h5 {text-transform: uppercase; font-size: 12px;}
#tab_body {background: #F2F2F2; padding: 20px;}
#tab_body ul {margin-left: 15px; color: #636363; margin-bottom: 10px;}
#tab_body ul li {list-style: disc;}
#tab_body div {display: none;}

/* Related News */
#related_news {width: 300px; float: left; margin-right: 50px;}
.related_news {margin-bottom: 10px;}
.related_news_thumb {width: 60px; float: left; margin-right: 20px;}
.related_news_text {width: 220px; float: right;}
.related_news_text p {font-size: 12px; font-weight: normal;}
.related_news_text h4 {font-size: 12px; font-family: 'Open Sans', sans-serif; font-weight: 600; }
.related_news_thumb img {width: 100%;}

/* Related Gallery */
#industrial_news {width: 300px; float: right;}
#related_galleries {width: 350px; float: right;}

/* News */
.news {margin-bottom: 20px; border-bottom: 1px solid #d7d7d7;}
.news_thumb {width: 60px; float: left; margin-right: 20px;}
.news_text {width: 620px; float: right;}
.news_text h2 {font-size: 14px; font-weight: 600;}
.news_text h4 {font-size: 16px; font-weight: 600;}
.news_text h6 {font-family: 'Open Sans', sans-serif; font-weight: 600; }
.news_text li {list-style: square; color:#636363; line-height:20px; margin-left:20px;}

/* Events */
#main_content .event {margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #d7d7d7;}
#main_content .event_date {width: 45px; margin-right: 25px; float: left; text-align: center;}
#main_content .event_date p {color: #636363; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; margin-bottom: 0;}
#main_content .event_text {width: 450px; float: left; margin-right: 30px;}
#main_content .event_text h2 {font-size: 14px; font-weight: 600;}
#main_content .event_more {width: 150px; float: right;}
#main_content .event_date_day {width: 45px; height: 35px; padding-top: 10px; background: url("images/site/date_bkg.png") 0 0 no-repeat;}
#main_content .event_date_day p {color: #fff; font-size: 24px; font-family: 'Open Sans', sans-serif; font-weight: 400;}
#main_content .event_body {width: 630px; float: right;}

#event_date {width: 45px; margin-right: 25px; float: left; text-align: center;}
#event_date p {color: #636363; font-size: 13px; font-family: 'Open Sans', sans-serif; font-weight: 400; text-transform: uppercase; margin-bottom: 0;}
#event_body {width: 630px; float: right;}

/* Faculty */
#faculty_table {width: 100%;}
#faculty_table thead tr {border-bottom: 1px solid #d7d7d7;}
#faculty_table thead th {text-align: left; padding: 10px 0; text-transform: uppercase; color: #555;}
#faculty_table tbody tr {border-bottom: 1px solid #d7d7d7;}
#faculty_table tbody td {text-align: left; padding: 10px 5px; color: #555;}

#faculty_left {width: 200px; float: left;}
#faculty_left ul {list-style: none;}
#faculty_left h3 {font-size: 17px; text-transform: uppercase; font-family: 'PT Sans Narrow', sans-serif; font-weight: 400;}
#faculty_right {width: 460px; float: right;}

/* Students */
.student_list {width: 700px; margin-bottom: 10px; padding-bottom: 10px; border-bottom: 1px solid #D7D7D7;}
.student_list_image {width: 140px; float: left; margin-right: 20px;}
.student_list_text {width: 540px; float: right;}

/* Research */
.research {display: block; width: 220px; height: 220px; position: relative; float: left; margin: 0 10px 10px 0;}
.research:hover {text-decoration: none;}
.research_cover {width: 210px; height: 75px; padding: 0 0 0 10px; background: url("images/site/research_landing_overlay.png") 0 0 no-repeat; position: absolute; bottom: 0; left: 0;}
#main_content .research h2 {color: #555; font-size: 13px;}


/* Gallery */
.gallery {display: block; width: 220px; height: 220px; position: relative; float: left; margin: 0 10px 10px 0;}
.gallery:hover {text-decoration: none;}
.gallery_cover {width: 210px; height: 55px; padding: 15px 0 0 10px; background: url("images/site/gallery_landing_overlay.png") 0 0 no-repeat; position: absolute; bottom: 0; left: 0;}
#main_content .gallery h2 {color: #fff; font-size: 13px; line-height: 15px;}
#gallery_left {width: 155px; float: left;}
#main_image_thumbs img {margin: 5px;}
#gallery_right {width: 530px; float: right;}
#main_image {width: 700px; height: auto; position: relative; margin-bottom: 10px;}
#main_image img {min-width: 700px}
#main_image_overlay {width: 690px; height: 30px; padding: 5px 0 0 10px; position: absolute; bottom: 0; left: 0; overflow: hidden; background: url("images/site/gallery_img_large_overlay.png") 0 0 no-repeat;}
#main_image_overlay p {margin-bottom: 0; color: #fff;}

/* Community Outreach */
.outreach {display: block; width: 220px; height: 220px; position: relative; float: left; margin: 0 10px 25px 0;}
.outreach:hover {text-decoration: none;}
.outreach_cover {width: 210px; height: 50px; padding: 20px 0 0 10px; background: url("images/site/community_landing_overlay.png") 0 0 no-repeat; position: absolute; bottom: 0; left: 0;}
#main_content .outreach h2 {color: #555; font-size: 13px;}

/* Student Involvement */
.student {display: block; width: 220px; height: 220px; position: relative; float: left; margin: 0 10px 10px 0;}
.student:hover {text-decoration: none;}
.student_cover {width: 210px; height: 60px; padding: 10px 0 0 10px; background: url("images/site/student_landing_overlay.png") 0 0 no-repeat; position: absolute; bottom: 0; left: 0;}
#main_content .student h2 {color: #fff; font-size: 13px;}

/* Full Content */
#full_content {width: 960px;}
#full_content h1 {margin-bottom: 20px;}
#full_content h2 {border-bottom: 1px solid #d7d7d7; font-size: 16px; font-weight: 700; margin-bottom: 5px; padding-bottom: 5px; text-transform: uppercase; color: #f47321;}
#full_content h2 span {font-size: 12px; color: #636363; text-transform: none; font-weight: bold;}
#full_content table {border-collapse: separate;}
#full_left {width: 440px; float: left; margin-right: 80px;}
#resource_main input {background: #eae9e5; padding: 10px; width: 380px;}
#resource_main textarea {background: #eae9e5; padding: 10px; width: 380px; height: 100px;}
#full_right {width: 440px; float: right;}
#full_content p {margin-bottom: 10px; font-size: 12px;}
#full_content p span {font-size: 12px; font-style: italic;}
#full_content .choice {margin-bottom: 20px;}
#full_content .choice label {width: 200px; float: left; display: block; margin: 0 10px 10px 0; font-size: 12px; color: #636363;}
#full_content .choice_full {margin-bottom: 20px;}
#full_content .choice_full label {width: 430px; display: block; margin: 0 10px 10px 0; font-size: 12px; color: #636363;}
#submit_entry {width: 230px; margin: 0 auto 20px;}
#submit_entry input.submit {width: 165px; height: 55px; background: url("images/site/btn_large_submit.jpg") 0 0 no-repeat; line-height: 999px; font-size: 0; cursor: pointer;}

#resource_files {margin-bottom: 20px;}
#resource_videos {margin-bottom: 20px;}

#forgot_password_form input {background: #eae9e5; padding: 10px; width: 380px;}
#forgot_password_form input.submit {width: 80px; height: 25px; padding: 0; background: url("images/site/btn_submit.jpg") 0 0 no-repeat; line-height: 999px; font-size: 0; cursor: pointer;}
#login_form input {background: #eae9e5; padding: 10px; width: 380px;}
#login_form input.submit {width: 80px; height: 25px; padding: 0; background: url("images/site/btn_submit.jpg") 0 0 no-repeat; line-height: 999px; font-size: 0; cursor: pointer;}
#zoo_visitor_form input {background: #eae9e5; padding: 10px; width: 380px;}
#zoo_visitor_form div.safecracker_file_input input {background: none; padding: 0; width: auto;}
#zoo_visitor_form textarea {background: #eae9e5; padding: 10px; width: 380px; height: 100px;}
#full_submit {width: 230px; margin: 0 auto 20px;}
#full_submit input.submit {width: 165px; height: 55px; background: url("images/site/btn_large_submit.jpg") 0 0 no-repeat; line-height: 999px; font-size: 0; cursor: pointer;}

/* Education Landing */
#organization_info {margin-bottom: 40px;}
#organization_info h2 {border-bottom: 1px solid #d7d7d7; font-size: 16px; font-weight: 700; margin-bottom: 5px; padding-bottom: 5px; text-transform: uppercase;}

#resource_entries {margin-bottom: 40px;}
#resource_entries h2 {border-bottom: 1px solid #d7d7d7; font-size: 16px; font-weight: 700; margin-bottom: 5px; padding-bottom: 5px; text-transform: uppercase;}
#resource_entries table {width: 100%;}
#resource_entries table tr:hover {background: #f2f2f2;}
#resource_entries table td {padding: 5px 0;}

/* Isotype */
#iso a {width: 140px; height: 110px; background: #f2f2f2; text-align: center; padding: 50px 10px 0; color: #fff; font-weight: bold; display: block; margin: 0 10px 10px 0;}
#iso a.curriculum {background: url("images/site/isotope_curriculum_info.jpg") 0 0 no-repeat;}
#iso a.multimedia {background: url("images/site/isotope_multimedia.jpg") 0 0 no-repeat;}
#iso a.lessons_activities {background: url("images/site/isotope_lessons.jpg") 0 0 no-repeat;}
#iso a.guest_speakers {background: url("images/site/isotope_speakers.jpg") 0 0 no-repeat;}
#iso a.info_materials {background: url("images/site/isotope_curriculum_info.jpg") 0 0 no-repeat;}
#iso a.conference_professional {background: url("images/site/isotope_speakers.jpg") 0 0 no-repeat;}
#iso a.outdoor_resource {background: url("images/site/isotope_outdoor.jpg") 0 0 no-repeat;}
#iso a.grants {background: url("images/site/isotope_grant.jpg") 0 0 no-repeat;}
#iso a.other {background: url("images/site/isotope_other.jpg") 0 0 no-repeat;}

#iso_nav {list-style: none;}
#iso_nav li.option_box {display: block; cursor: pointer; width: 200px; height: 40px; padding: 10px; background: #44565b; margin: 0 10px 10px 0; float: left; position: relative;}
#iso_nav li.option_box a {color: #fff; text-transform: uppercase; font-family: 'Open Sans', sans-serif; font-weight: 400; font-size: 18px;}
#iso_nav li.option_box p {color: #fff; text-transform: none;}
#iso_nav li.option_box ul {display: none; list-style: none; position: absolute; top: 60px; left: 0; z-index: 2; width: 220px; background: #44565b;}
#iso_nav li.option_box:hover ul {display: block !important;}
#iso_nav li.option_box ul li {}
#iso_nav li.option_box ul li a {display: block; padding: 10px; color: #fff; font-size: 13px; font-family: "verdana";}
#iso_nav li.option_box ul li a:hover {background: #f2f2f2; color: #000;}

#iso_nav a.selected {color: #f47321;}


/* Resource Entry */
#resource_information {margin-bottom: 40px;}
#resource_information h2 {border-bottom: 1px solid #d7d7d7; font-size: 16px; font-weight: 700; margin-bottom: 5px; padding-bottom: 5px; text-transform: uppercase;}
#resource_left {width: 320px; float: left; margin-right: 60px;}
#resource_right {width: 320px; float: right;}
#resource_right ul {list-style: none; margin: 0 0 10px 0; color: #636363;}
#resource_type ul {margin-left: 15px; color: #636363; list-style: disc;}
#resource_type {background: #f2f2f2; padding: 15px;}

#resource_organization h2 {border-bottom: 1px solid #d7d7d7; font-size: 16px; font-weight: 700; margin-bottom: 5px; padding-bottom: 5px; text-transform: uppercase;}
#resource_org_left {width: 320px; float: left; margin-right: 60px;}
#resource_org_right {width: 320px; float: right;}

/* Footer Push */
#push {height: 275px;}

/* Footer */
#footer_wrapper {height: 275px; background: url("images/site/ftr_rptr.png") repeat-x;}
#footer {height: 275px; width: 960px; margin: 0 auto; position: relative; font-size: 12px;}
#footer_top {position: absolute; top: -130px; right: 150px;}
#footer h3 {color: #c2c2c2; text-transform: uppercase; font-size: 12px; margin-bottom: 5px; font-weight: 600;}
#footer a {color: #d7d7d7;}
#footer a:hover {text-decoration: underline;}
#footer p {color: #d7d7d7; font-size: 12px; line-height: 17px; font-weight: 400; font-family: 'Open Sans', sans-serif;}
#footer ul {list-style: none;}
#footer li {margin-bottom: 8px; font-size: 12px; line-height: 13px; font-weight: 400; font-family: 'Open Sans', sans-serif; }
#footer_newsletter {position: absolute; top: 0; left: 0; width: 195px; height: 27px; padding: 13px 0 0 100px; background: url("images/site/ftr_email_sign_up.png") 0 0 no-repeat;}
#footer_newsletter input {width: 150px; font-size: 13px; font-family: Georgia;}
#footer_newsletter input.submit {width: 40px; cursor: pointer;}
#footer_social {position: absolute; left: 800px; top: 10px;}
#footer_gallery {position: absolute; top: 60px; left: 0; width: 140px;}
.home_gallery {width: 60px; height: 60px; float: left; padding-right: 5px; padding-bottom: 5px;}
#footer_research {position: absolute; top: 60px; left: 160px; width: 350px;}
#footer_links1 {position: absolute; top: 60px; left: 400px;}
#footer_links2 {position: absolute; top: 60px; left: 560px;}
#footer_contact {position: absolute; top: 60px; left: 720px;}
#footer_copyright {position: absolute; top: 245px; left: 80px;}
#utsa_web_designer {position: absolute; top: 0; left: -9999px;}


/* Isotope */
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */
  -webkit-transition-duration: 0.8s;
     -moz-transition-duration: 0.8s;
      -ms-transition-duration: 0.8s;
       -o-transition-duration: 0.8s;
          transition-duration: 0.8s;
}

.isotope {
  -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
     -moz-transition-property:    -moz-transform, opacity;
      -ms-transition-property:     -ms-transform, opacity;
       -o-transition-property:         top, left, opacity;
          transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
  -webkit-transition-duration: 0s;
     -moz-transition-duration: 0s;
      -ms-transition-duration: 0s;
       -o-transition-duration: 0s;
          transition-duration: 0s;
}
