body {
	margin: 0px; padding: 0px;
}
div {
	margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
ul {
	margin: 0px; padding: 0px;
}
ol {
	margin: 0px; padding: 0px;
}
li {
	margin: 0px; padding: 0px;
}
h1 {
	margin: 0px; padding: 0px;
}
h2 {
	margin: 0px; padding: 0px;
}
h3 {
	margin: 0px; padding: 0px;
}
h4 {
	margin: 0px; padding: 0px;
}
h5 {
	margin: 0px; padding: 0px;
}
h6 {
	margin: 0px; padding: 0px;
}
pre {
	margin: 0px; padding: 0px;
}
form {
	margin: 0px; padding: 0px;
}
fieldset {
	margin: 0px; padding: 0px;
}
input {
	margin: 0px; padding: 0px;
}
p {
	margin: 0px; padding: 0px;
}
blockquote {
	margin: 0px; padding: 0px;
}
th {
	margin: 0px; padding: 0px;
}
td {
	margin: 0px; padding: 0px;
}
table {
	border-collapse: collapse; border-spacing: 0;
}
fieldset {
	border: 0px currentColor;
}
img {
	border: 0px currentColor;
}
address {
	font-style: normal; font-weight: normal;
}
caption {
	font-style: normal; font-weight: normal;
}
cite {
	font-style: normal; font-weight: normal;
}
code {
	font-style: normal; font-weight: normal;
}
dfn {
	font-style: normal; font-weight: normal;
}
em {
	font-style: normal; font-weight: normal;
}
strong {
	font-style: normal; font-weight: normal;
}
th {
	font-style: normal; font-weight: normal;
}
var {
	font-style: normal; font-weight: normal;
}
ol {
	list-style: none;
}
ul {
	list-style: none;
}
caption {
	text-align: left;
}
th {
	text-align: left;
}
h1 {
	font-size: 100%;
}
h2 {
	font-size: 100%;
}
h3 {
	font-size: 100%;
}
h4 {
	font-size: 100%;
}
h5 {
	font-size: 100%;
}
h6 {
	font-size: 100%;
}
q::before {
	content: "";
}
q::after {
	content: "";
}
body {
	font-family: Arial, Helvetica, sans-serif;
}
a {
	color: rgb(6, 95, 163);
}
body.use-ems {
	font-size: 62.5%;
}
body.use-ems p {
	font-size: 1.2em;
}
body.use-ems a {
	font-size: 1.2em;
}
body.use-ems li {
	font-size: 1.2em;
}
body.use-ems dl {
	font-size: 1.2em;
}
body.use-ems dt {
	font-size: 1.2em;
}
body.use-ems span {
	font-size: 1.2em;
}
body.use-ems h1 {
	font-size: 2em;
}
body.use-ems h2 {
	font-size: 1.6em;
}
body.use-ems h3 {
	font-size: 1.4em;
}
body.use-ems h4 {
	font-size: 1.3em;
}
body.use-ems h5 {
	font-size: 1.2em;
}
body.use-ems h6 {
	font-size: 1.1em;
}
.left {
	float: left;
}
.right {
	float: right;
}
.block {
	display: block;
}
.inline-block {
	display: inline-block;
}
.inline {
	display: inline;
}
.hide {
	display: none;
}
.hide-accessible {
	left: -10000px; top: -10000px; position: absolute;
}
.grid1 {
	width: 73px;
}
.grid2 {
	width: 154px;
}
.grid3 {
	width: 235px;
}
.grid4 {
	width: 316px;
}
.grid5 {
	width: 397px;
}
.grid6 {
	width: 478px;
}
.grid7 {
	width: 559px;
}
.grid8 {
	width: 640px;
}
.grid9 {
	width: 721px;
}
.grid10 {
	width: 802px;
}
.grid11 {
	width: 883px;
}
.grid12 {
	width: 964px;
}
.grid-dead-column {
	height: 1px;
}
.gutter-inner {
	padding: 0px 8px;
}
.gutter-inner-l {
	padding-left: 8px;
}
.gutter-inner-r {
	padding-right: 8px;
}
.gutter-outer {
	margin: 0px 8px;
}
.gutter-outer-l {
	margin-left: 8px;
}
.gutter-outer-r {
	margin-right: 8px;
}
.padding-sm {
	padding: 5px;
}
.padding-med {
	padding: 10px;
}
.padding-lg {
	padding: 20px;
}
.margin-sm {
	margin: 5px;
}
.margin-med {
	margin: 10px;
}
.margin-lg {
	margin: 20px;
}
.t-padding-sm {
	padding-top: 5px;
}
.t-padding-med {
	padding-top: 10px;
}
.t-padding-lg {
	padding-top: 20px;
}
.b-padding-sm {
	padding-bottom: 5px;
}
.b-padding-med {
	padding-bottom: 10px;
}
.b-padding-lg {
	padding-bottom: 20px;
}
.v-padding-sm {
	padding: 5px 0px;
}
.v-padding-med {
	padding: 10px 0px;
}
.v-padding-lg {
	padding: 20px 0px;
}
.l-padding-sm {
	padding-left: 5px;
}
.l-padding-med {
	padding-left: 10px;
}
.l-padding-lg {
	padding-left: 20px;
}
.r-padding-sm {
	padding-right: 5px;
}
.r-padding-med {
	padding-right: 10px;
}
.r-padding-lg {
	padding-right: 20px;
}
.h-padding-sm {
	padding: 0px 5px;
}
.h-padding-med {
	padding: 0px 10px;
}
.h-padding-lg {
	padding: 0px 20px;
}
.t-margin-sm {
	margin-top: 5px;
}
.t-margin-med {
	margin-top: 10px;
}
.t-margin-lg {
	margin-top: 20px;
}
.b-margin-sm {
	margin-bottom: 5px;
}
.b-margin-med {
	margin-bottom: 10px;
}
.b-margin-lg {
	margin-bottom: 20px;
}
.v-margin-sm {
	margin: 5px 0px;
}
.v-margin-med {
	margin: 10px 0px;
}
.v-margin-lg {
	margin: 20px 0px;
}
.l-margin-sm {
	margin-left: 5px;
}
.l-margin-med {
	margin-left: 10px;
}
.l-margin-lg {
	margin-left: 20px;
}
.r-margin-sm {
	margin-right: 5px;
}
.r-margin-med {
	margin-right: 10px;
}
.r-margin-lg {
	margin-right: 20px;
}
.h-margin-sm {
	margin: 0px 5px;
}
.h-margin-med {
	margin: 0px 10px;
}
.h-margin-lg {
	margin: 0px 20px;
}
.clear {
	clear: both;
}
.clearfix {
	display: inline-block;
}
.clearfix::after {
	height: 0px; line-height: 0; clear: both; display: block; visibility: hidden; content: ".";
}
* html .clearfix {
	height: 1%;
}
html[xmlns] .clearfix {
	display: block;
}

img {
	text-decoration: none;
}
