html {
	background: rgb(255,255,255); height: 100%; font-size: 12px;
}
body {
	background: rgb(255,255,255); height: 100%; font-size: 12px;
}
#wrapper {
	background: 0px 0px white; margin: 0px auto; padding: 0px 8px; height: auto !important; text-align: left; position: relative; /*min-height: 100%*/;
}
p {
	line-height: 15px;
}
a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a {
	color: rgb(6, 95, 163);
}
h1 {
	font-size: 20px; margin-bottom: 10px;
}
h2 {
	font-size: 16px; margin-bottom: 10px;
}
h3 {
	font-size: 14px; margin-bottom: 10px;
}
h4 {
	font-size: 12px; margin-bottom: 10px;
}
#header {
	font-size: 12px; margin: auto;
	background: rgb(0,42,92);
}
#header img {
	display: block;
	margin: auto; 
	margin-bottom: 5px;
}
#footer {
	/*background: url("../img/dot_line.gif") repeat-x 0px 0px rgb(255, 255, 255); margin: 0px auto; clear: both; font-size: 10px; position: relative;*/
	background-image:url('../img/tempfooter.png');
	background-repeat:repeat-x;
	height: 100px;
}
#footer .footerContent {
	padding: 8px;
}
.push {
	height: 40px;
}

#menu {
	margin-bottom: 25px;
}
#menu li {
	margin-right: 10px; display: inline;
}
#menu li a {
	margin-right: 10px; display: inline;
}
#menu a.active {
	color: rgb(0, 0, 0);
}

.linklist li {
	margin: 0px 0px 15px;
}
.module {
	border-width: medium 1px 1px; border-style: none solid solid; border-color: currentColor rgb(204, 204, 204) rgb(204, 204, 204); padding-top: 1px; margin-top: 5px; -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}
.module h4 {
	background: url("../img/modal-window-header-x.png") repeat-x 0px 0px; margin: -5px -1px 0px; padding: 7px 10px; height: 14px; color: rgb(255, 255, 255); -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
}
.module ul {
	padding: 0px 10px;
}
span.icon-cta {
	background: url("../img/ni_icons_sprite.gif") no-repeat 0px -142px; width: 19px; height: 18px; padding-right: 5px; margin-top: -4px; float: left; display: block;
}
.module ul li {
	margin: 10px 0px; padding: 0px 0px 5px; border-bottom-color: rgb(242, 242, 242); border-bottom-width: 1px; border-bottom-style: solid;
}
.ui-dialog-titlebar-close {
	top: 5px; right: 10px; display: inline !important; position: absolute;
}
a.ui-dialog-titlebar-close {
	background: url("../img/modal_closeBtn.png") no-repeat 0px -4px; width: 22px; height: 20px;
}
a.ui-dialog-titlebar-close span {
	display: none;
}
.plainList {
	padding: 0px 20px; list-style-type: disc;
}
.plainList li {
	line-height: 130%;
}
.jcarousel-skin-ni {
	background: url("../img/code_gradient02.jpg") repeat-x 0px 0px; border: 1px solid rgb(204, 204, 204); -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
.jcarousel-skin-ni .jcarousel-container {
	border-width: 2px 1px; border-style: solid; border-color: rgb(255, 255, 255); -moz-border-radius: 10px; -webkit-border-radius: 10px;
}
.jcarousel-skin-ni .jcarousel-container-horizontal {
	padding: 10px 40px;
}
.jcarousel-skin-ni .jcarousel-item {
	padding: 0px 30px;
}
li.jcarousel-item a {
	margin: 0px auto; text-align: center; clear: both; font-weight: bold; float: none; display: block;
}
li.jcarousel-item a img {
	margin: 0px auto; text-align: center; clear: both; font-weight: bold; float: none; display: block;
}
li.jcarousel-item a img {
	margin-bottom: 5px;
}
.jcarousel-skin-ni .jcarousel-prev-horizontal {
	background: url("../img/prevNextBtns.png") no-repeat; top: 47px; width: 24px; height: 26px;
}
.jcarousel-skin-ni .jcarousel-next-horizontal {
	background: url("../img/prevNextBtns.png") no-repeat; top: 47px; width: 24px; height: 26px;
}
.jcarousel-skin-ni .jcarousel-prev-horizontal:hover {
	background-position: 0px -135px;
}
.jcarousel-skin-ni .jcarousel-next-horizontal:hover {
	background-position: 0px -108px;
}
.jcarousel-skin-ni .jcarousel-prev-horizontal {
	background-position: 0px -81px;
}
.jcarousel-skin-ni .jcarousel-next-horizontal {
	background-position: 0px -54px;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-horizontal {
	background-position: 0px -27px;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-horizontal:hover {
	background-position: 0px -27px;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-horizontal:active {
	background-position: 0px -27px;
}
.jcarousel-skin-ni .jcarousel-next-disabled-horizontal {
	
}
.jcarousel-skin-ni .jcarousel-next-disabled-horizontal:hover {
	
}
.jcarousel-skin-ni .jcarousel-next-disabled-horizontal:active {
	
}
.centerAlign {
	text-align: center;
}
