.jcarousel-skin-ni .jcarousel-container {
	border: 1px solid rgb(204, 204, 204);
}
.jcarousel-skin-ni .jcarousel-container-horizontal {
	padding: 10px 40px 20px;
}
.jcarousel-skin-ni .jcarousel-container-vertical {
	padding: 40px 20px; width: 75px; height: 245px;
}
.jcarousel-skin-ni .jcarousel-clip-horizontal {
	width: auto; height: auto;
}
.jcarousel-skin-ni .jcarousel-clip-vertical {
	width: 75px; height: 245px;
}
.jcarousel-skin-ni .jcarousel-item {
	width: 160px; height: 100px; padding-right: 60px; display: block;
}
.jcarousel-skin-ni .jcarousel-item-vertical {
	margin-bottom: 10px;
}
.jcarousel-skin-ni .jcarousel-item-placeholder {
	background: rgb(255, 255, 255); color: rgb(0, 0, 0);
}
.jcarousel-skin-ni .jcarousel-next-horizontal {
	background: url("../img/buttons.png") no-repeat 0px -136px; top: 48px; width: 21px; height: 34px; right: 5px; position: absolute; cursor: pointer;
}
.jcarousel-skin-ni .jcarousel-next-horizontal:hover {
	background-position: 0px -68px;
}
.jcarousel-skin-ni .jcarousel-next-horizontal:active {
	background-position: 0px -68px;
}
.jcarousel-skin-ni .jcarousel-next-disabled-horizontal {
	cursor: default;
}
.jcarousel-skin-ni .jcarousel-next-disabled-horizontal:hover {
	cursor: default;
}
.jcarousel-skin-ni .jcarousel-next-disabled-horizontal:active {
	cursor: default;
}
.jcarousel-skin-ni .jcarousel-prev-horizontal {
	background: url("../img/buttons.png") no-repeat 0px -170px; left: 5px; top: 48px; width: 21px; height: 34px; position: absolute; cursor: pointer;
}
.jcarousel-skin-ni .jcarousel-prev-horizontal:hover {
	background-position: 0px -102px;
}
.jcarousel-skin-ni .jcarousel-prev-horizontal:active {
	background-position: 0px -102px;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-horizontal {
	background-position: 0px -34px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-horizontal:hover {
	background-position: 0px -34px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-horizontal:active {
	background-position: 0px -34px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-next-vertical {
	background: url("http://texasenergy.utsa.edu/solar/microgrid/img/next-vertical.png") no-repeat 0px 0px; left: 43px; width: 32px; height: 32px; bottom: 5px; position: absolute; cursor: pointer;
}
.jcarousel-skin-ni .jcarousel-next-vertical:hover {
	background-position: 0px -32px;
}
.jcarousel-skin-ni .jcarousel-next-vertical:active {
	background-position: 0px -64px;
}
.jcarousel-skin-ni .jcarousel-next-disabled-vertical {
	background-position: 0px -96px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-next-disabled-vertical:hover {
	background-position: 0px -96px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-next-disabled-vertical:active {
	background-position: 0px -96px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-prev-vertical {
	background: url("http://texasenergy.utsa.edu/solar/microgrid/img/prev-vertical.png") no-repeat 0px 0px; left: 43px; top: 5px; width: 32px; height: 32px; position: absolute; cursor: pointer;
}
.jcarousel-skin-ni .jcarousel-prev-vertical:hover {
	background-position: 0px -32px;
}
.jcarousel-skin-ni .jcarousel-prev-vertical:active {
	background-position: 0px -64px;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-vertical {
	background-position: 0px -96px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-vertical:hover {
	background-position: 0px -96px; cursor: default;
}
.jcarousel-skin-ni .jcarousel-prev-disabled-vertical:active {
	background-position: 0px -96px; cursor: default;
}
.jcarousel-list {
	height: 100px;
}
li.jcarousel-item img {
	float: left;
}
li.jcarousel-item a.bottom {
	top: -15px; margin-left: 112px; position: relative;
}
li.jcarousel-item h5 {
	margin-left: 112px;
}
* + html li.jcarousel-item h5 {
	display: inline-block;
}
