.ui-dialog {
	box-shadow: 3px 3px 8px #222; -moz-box-shadow: 3px 3px 8px #222; -webkit-box-shadow: 3px 3px 8px #222;
}
.ui-dialog-titlebar-close {
	display: none;
	visibility: hidden;
}
.ui-dialog-titlebar {
	background: url("../img/modal-window-header-x.png") repeat-x 0px 0px rgb(255, 255, 255); border-top-left-radius: 5px; border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px;
}
.ui-dialog-title {
	color: rgb(255, 255, 255); font-size: 14px; font-weight: bold;
}
.ui-dialog-title {
	line-height: 25px; padding-left: 10px;
}
.ui-dialog-content {
	padding: 5px; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; background-color: rgb(255, 255, 255); -moz-border-radius-bottomleft: 5px; -moz-border-radius-bottomright: 5px; -webkit-border-bottom-left-radius: 5px; -webkit-border-bottom-right-radius: 5px;
}
.ui-widget-overlay {
	left: 0px; top: 0px; filter: alpha(opacity=70); position: absolute; opacity: 0.7; background-color: rgb(0, 0, 0);
}
