<?xml version="1.0" encoding="utf-8" ?>
<rss version="2.0"
    xmlns:dc="http://purl.org/dc/elements/1.1/"
    xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
    xmlns:admin="http://webns.net/mvcb/"
    xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
    xmlns:content="http://purl.org/rss/1.0/modules/content/">
    
    <channel>
    
    <title>Texas Sustainable Energy Forums</title>
    <link>http://texasenergy.utsa.edu/forums/</link>
    <description>Texas Sustainable Energy Forums</description>
    <dc:language>en</dc:language>
    <dc:rights>Copyright 2012</dc:rights>
    <dc:date>2012-12-11T17:38:33+00:00</dc:date>
    <admin:generatorAgent rdf:resource="http://expressionengine.com/" />
    

    <item>
      <title>Accepting Ideas for the institute&#8217;s new Aumni program</title>
      <link>http://texasenergy.utsa.edu/forums/viewthread/4/</link>
      <guid>http://texasenergy.utsa.edu/forums/viewthread/4/#When:17:24:00Z</guid>
      <description>&lt;p&gt;Please provide any input or ideas you may have on what the institute&#8217;s new Alumni program should entail.&lt;/p&gt;</description>
      <dc:date>2012-12-11T17:24:00+00:00</dc:date>
    </item>

    <item>
      <title>here is my new topic!</title>
      <link>http://texasenergy.utsa.edu/forums/viewthread/2/</link>
      <guid>http://texasenergy.utsa.edu/forums/viewthread/2/#When:16:32:35Z</guid>
      <description>&lt;p&gt;here is the description of it&lt;/p&gt;</description>
      <dc:date>2012-07-16T16:32:35+00:00</dc:date>
    </item>

    <item>
      <title>Here is my test article</title>
      <link>http://texasenergy.utsa.edu/forums/viewthread/1/</link>
      <guid>http://texasenergy.utsa.edu/forums/viewthread/1/#When:23:32:13Z</guid>
      <description>&lt;p&gt;How great is this!&lt;/p&gt;</description>
      <dc:date>2012-04-21T23:32:13+00:00</dc:date>
    </item>

    
    </channel>
</rss>