<?xml version="1.0" encoding="utf-8" ?>
<feed xmlns="http://www.w3.org/2005/Atom" xml:lang="en">

    <title type="text">Texas Sustainable Energy Forums</title>
    <link rel="alternate" type="text/html" href="http://texasenergy.utsa.edu/forums/" />
    <link rel="self" type="application/atom+xml" href="http://texasenergy.utsa.edu/forums/atom/" />
    <updated>0</updated>
    <rights>Copyright (c) 2012</rights>
    <generator uri="http://expressionengine.com/" version="2.5.2">ExpressionEngine</generator>
    <id>tag:texasenergy.utsa.edu,2012:12:11</id>


    <entry>
      <title>Accepting Ideas for the institute&#8217;s new Aumni program</title>
      <link rel="alternate" type="text/html" href="http://texasenergy.utsa.edu/forums/viewthread/4/" />      
      <id>tag:texasenergy.utsa.edu,2012:forums/viewthread/.4</id>
      <published>2012-12-11T17:24:00Z</published>
      <updated>0</updated>
      <author><name>Robert A.</name></author>
      <content type="html">
      <![CDATA[
        <p>Please provide any input or ideas you may have on what the institute&#8217;s new Alumni program should entail.</p>
      ]]>
      </content>
    </entry>

    <entry>
      <title>here is my new topic!</title>
      <link rel="alternate" type="text/html" href="http://texasenergy.utsa.edu/forums/viewthread/2/" />      
      <id>tag:texasenergy.utsa.edu,2012:forums/viewthread/.2</id>
      <published>2012-07-16T16:32:35Z</published>
      <updated>0</updated>
      <author><name>Giles Parscale</name></author>
      <content type="html">
      <![CDATA[
        <p>here is the description of it</p>
      ]]>
      </content>
    </entry>

    <entry>
      <title>Here is my test article</title>
      <link rel="alternate" type="text/html" href="http://texasenergy.utsa.edu/forums/viewthread/1/" />      
      <id>tag:texasenergy.utsa.edu,2012:forums/viewthread/.1</id>
      <published>2012-04-21T23:32:13Z</published>
      <updated>0</updated>
      <author><name>Giles Parscale</name></author>
      <content type="html">
      <![CDATA[
        <p>How great is this!</p>
      ]]>
      </content>
    </entry>


</feed>